Repository woowacourse-teams/2023-dong-gle, pull requests merged in 2023-09, with the labels that each got.

#369 [ALL] chore: 개발서버 https 통신 적용
  .github/workflows/build-fe-dev.yml
  .github/workflows/build-fe-prod.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  conf-dev/nginx.conf
  conf-prod/nginx.conf
  docker-compose.yml
Labels: 🧱 infra, 🛠️ refactor

#361 [BE] fix: 영구삭제된 글들도 카테고리를 변경해주도록 메서드 변경
  backend/src/main/java/org/donggle/backend/application/repository/WritingRepository.java
  backend/src/main/java/org/donggle/backend/application/service/CategoryService.java
  backend/src/test/java/org/donggle/backend/application/service/CategoryServiceTest.java
Labels: 🐞 bug, 🕋 backend

#380 [FE] refactor: 벡엔드 API 변경에 따른 auth API 수정
  frontend/src/constants/apis/url.ts
Labels: 🛠️ refactor, 🖥️ frontend

#382 [FE] chore: 번들 사이즈 최적화를 위해 `bundleAnalyzerPlugin` 설치 및 설정
  frontend/package.json
  frontend/webpack.common.js
  frontend/yarn.lock
Labels: ⚙️ setting, 🖥️ frontend

#378 [BE] refactor: MemberCredentials의 AccessToken 필드 암호화
  backend/src/main/java/org/donggle/backend/domain/member/MemberCredentials.java
  backend/src/main/java/org/donggle/backend/domain/util/AESEncryptionUtil.java
  backend/src/main/java/org/donggle/backend/domain/util/Encrypt.java
  backend/src/main/resources/application.yml
  backend/src/test/java/org/donggle/backend/domain/member/MemberCredentialsTest.java
  backend/src/test/java/org/donggle/backend/domain/util/AESEncryptionUtilTest.java
Labels: 🛠️ refactor, 🕋 backend

#371 [BE] feat: 로그인 기능 추상화 및 동시성 문제 처리
  backend/src/main/java/org/donggle/backend/application/config/VendorConfiguration.java
  backend/src/main/java/org/donggle/backend/application/repository/MemberRepository.java
  backend/src/main/java/org/donggle/backend/application/service/AuthService.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/LoginClient.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/LoginClients.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/SocialType.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/kakao/KakaoLoginClient.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/kakao/KakaoLoginTokenClient.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/kakao/KakaoLoginUserInfoClient.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/kakao/KakaoOAuthService.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/kakao/dto/KakaoAccountResponse.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/kakao/dto/KakaoProfileResponse.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/kakao/dto/ProfileResponse.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/kakao/dto/UserInfo.java
  backend/src/main/java/org/donggle/backend/config/InitLocalAndTestData.java
  backend/src/main/java/org/donggle/backend/domain/member/Member.java
  backend/src/main/java/org/donggle/backend/exception/business/DuplicatedMemberException.java
  backend/src/main/java/org/donggle/backend/ui/AuthController.java
  backend/src/main/java/org/donggle/backend/ui/KakaoOAuthController.java
  backend/src/test/java/org/donggle/backend/domain/parser/MarkDownParserTest.java
  backend/src/test/java/org/donggle/backend/domain/writing/BlockTest.java
Labels: 🐞 bug, 🛠️ refactor, 🕋 backend

#376 [BE] feat: 블로깅 기능 추상화
  backend/src/main/java/org/donggle/backend/application/BlogClient.java
  backend/src/main/java/org/donggle/backend/application/PublishResponse.java
  backend/src/main/java/org/donggle/backend/application/config/VendorConfiguration.java
  backend/src/main/java/org/donggle/backend/application/service/BlogClients.java
  backend/src/main/java/org/donggle/backend/application/service/PublishService.java
  backend/src/main/java/org/donggle/backend/application/service/connection/tistory/TistoryConnectionService.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/medium/MediumApiClient.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/medium/dto/response/MediumPublishDataResponse.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/medium/dto/response/MediumPublishResponse.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/TistoryApiClient.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/TistoryBlogInfoResponse.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/TistoryBlogInfoResponseWrapper.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/TistoryBlogNameRespons.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/TistoryBlogResponse.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/response/TistoryGetWritingResponse.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/response/TistoryGetWritingResponseWrapper.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/response/TistoryPublishWritingResponseWrapper.java
  backend/src/main/java/org/donggle/backend/config/InitLocalAndTestData.java
  backend/src/main/java/org/donggle/backend/domain/blog/BlogType.java
  backend/src/main/java/org/donggle/backend/domain/member/MemberCredentials.java
  backend/src/main/java/org/donggle/backend/ui/config/WebMvcConfig.java
  backend/src/test/java/org/donggle/backend/application/service/MemberServiceTest.java
  backend/src/test/java/org/donggle/backend/application/service/PublishServiceTest.java
  backend/src/test/java/org/donggle/backend/application/service/tistory/TistoryApiServiceTest.java
Labels: 🛠️ refactor, 🕋 backend

#396 [BE] refactor: 글과 카테고리 EAGER 로딩 개선
  backend/src/main/java/org/donggle/backend/application/service/CategoryService.java
  backend/src/main/java/org/donggle/backend/application/service/WritingService.java
  backend/src/main/java/org/donggle/backend/domain/category/Category.java
  backend/src/main/java/org/donggle/backend/domain/writing/Writing.java
Labels: 🛠️ refactor, 🕋 backend

#405 [BE] fix: 미디움 발행 요청에 contentFormat 파라미터 추가
  backend/src/main/java/org/donggle/backend/infrastructure/client/medium/MediumApiClient.java
Labels: 🐞 bug, 🕋 backend

#394 [FE] refactor: `highlight.js` 대신 `prismjs`를 이용해 번들 사이즈 최적화
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/WritingViewer/WritingViewer.tsx
  frontend/src/hooks/@common/useCodeHighlight.ts
  frontend/src/types/prism.d.ts
  frontend/webpack.common.js
  frontend/yarn.lock
Labels: 🛠️ refactor, 🖥️ frontend

#403 [BE] feat: 비지니스 로직과 DB(JPA) 로직을 분리하여 트랜잭션 적용범위 최소화
  backend/src/main/java/org/donggle/backend/application/service/auth/AuthFacadeService.java
  backend/src/main/java/org/donggle/backend/application/service/auth/AuthService.java
  backend/src/main/java/org/donggle/backend/application/service/auth/LoginClients.java
  backend/src/main/java/org/donggle/backend/application/service/blog/PublishFacadeService.java
  backend/src/main/java/org/donggle/backend/application/service/blog/PublishService.java
  backend/src/main/java/org/donggle/backend/application/service/blog/PublishWritingRequest.java
  backend/src/main/java/org/donggle/backend/application/service/writing/MemberCategoryNotionInfo.java
  backend/src/main/java/org/donggle/backend/application/service/writing/WritingFacadeService.java
  backend/src/main/java/org/donggle/backend/application/service/writing/WritingService.java
  backend/src/main/java/org/donggle/backend/config/VendorConfiguration.java
  backend/src/main/java/org/donggle/backend/infrastructure/client/notion/NotionApiClient.java
  backend/src/main/java/org/donggle/backend/ui/AuthController.java
  backend/src/main/java/org/donggle/backend/ui/WritingController.java
  backend/src/test/java/org/donggle/backend/application/service/PublishServiceTest.java
  backend/src/test/java/org/donggle/backend/application/service/WritingServiceTest.java
Labels: 🛠️ refactor, 🕋 backend

#408 [FE] feat: 발행된 글로 이동하는 기능 구현
  frontend/src/assets/icons/hyperlink.svg
  frontend/src/assets/icons/index.ts
  frontend/src/components/WritingPropertySection/WritingPropertySection.tsx
  frontend/src/mocks/handlers/writing.ts
  frontend/src/mocks/writingTableMock.ts
  frontend/src/types/apis/writings.ts
Labels: 🖥️ frontend, 🌟 feature

#412 [FE] feat: 회원 탈퇴 기능 구현
  frontend/src/apis/member.ts
  frontend/src/components/Modal/DeleteAccountModal.tsx/DeleteAccountModal.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/hooks/queries/member/useMemberDelete.ts
  frontend/src/mocks/handlers/member.ts
Labels: 🎨 UI, 🖥️ frontend, 🌟 feature

#395 [FE] refactor: 요청 크기 최적화
  frontend/public/index.html
  frontend/src/assets/icons/arrow-right.svg
  frontend/src/assets/icons/blur-background.svg
  frontend/src/assets/icons/calendar.svg
  frontend/src/assets/icons/check-symbol.svg
  frontend/src/assets/icons/close-rounded.svg
  frontend/src/assets/icons/default-user-profile.svg
  frontend/src/assets/icons/donggle-example-avif-2x.avif
  frontend/src/assets/icons/donggle-example-avif.avif
  frontend/src/assets/icons/donggle-example-png-2x.png
  frontend/src/assets/icons/donggle-example-png.png
  frontend/src/assets/icons/donggle-example-webp-2x.webp
  frontend/src/assets/icons/donggle-example-webp.webp
  frontend/src/assets/icons/donggle-example.png
  frontend/src/assets/icons/donggle-logo.svg
  frontend/src/assets/icons/home.svg
  frontend/src/assets/icons/import.svg
  frontend/src/assets/icons/index.ts
  frontend/src/assets/icons/info.svg
  frontend/src/assets/icons/kakao-login.svg
  frontend/src/assets/icons/left-arrow-head.svg
  frontend/src/assets/icons/medium-logo.svg
  frontend/src/assets/icons/notion.svg
  frontend/src/assets/icons/pencil.svg
  frontend/src/assets/icons/plus-circle.svg
  frontend/src/assets/icons/plus.svg
  frontend/src/assets/icons/publishing.svg
  frontend/src/assets/icons/search.svg
  frontend/src/assets/icons/setting.svg
  frontend/src/assets/icons/sidebar-left.svg
  frontend/src/assets/icons/sidebar-right.svg
  frontend/src/assets/icons/stats.svg
  frontend/src/assets/icons/tistory-logo.svg
  frontend/src/assets/icons/trash-can-empty.svg
  frontend/src/assets/icons/trash-can.svg
  frontend/src/assets/icons/writing.svg
  frontend/src/assets/index.d.ts
  frontend/src/pages/IntroducePage/IntroducePage.tsx
  frontend/src/routes/Router.tsx
  frontend/webpack.common.js
  frontend/webpack.prod.js
Labels: ⚙️ setting, 🛠️ refactor, 🖥️ frontend

#410 [BE] feat: 발행 후 발행 url 글 정보 조회 API 응답에 추가
  backend/src/main/java/org/donggle/backend/application/service/blog/PublishService.java
  backend/src/main/java/org/donggle/backend/application/service/writing/WritingService.java
  backend/src/main/java/org/donggle/backend/domain/blog/BlogWriting.java
  backend/src/main/java/org/donggle/backend/infrastructure/client/medium/dto/response/MediumPublishResponse.java
  backend/src/main/java/org/donggle/backend/infrastructure/client/tistory/dto/response/TistoryGetWritingResponseWrapper.java
  backend/src/main/java/org/donggle/backend/ui/response/PublishResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/PublishedDetailResponse.java
  backend/src/test/java/org/donggle/backend/application/service/PublishServiceTest.java
Labels: 🕋 backend, 🌟 feature

#420 [BE] hotfix: 사용자 별로 카테고리 이름 중복검사 오류 수정
  backend/src/main/java/org/donggle/backend/application/repository/CategoryRepository.java
  backend/src/main/java/org/donggle/backend/application/service/CategoryService.java
Labels: 🐞 bug, 🕋 backend

#431 [BE] fix: AuthInterceptor "/auth/token/refresh" 경로 제외
  backend/src/main/java/org/donggle/backend/ui/common/WebMvcConfig.java
Labels: 🐞 bug, 🕋 backend

#413 [BE] feat: 회원 탈퇴 기능 구현
  backend/src/main/java/org/donggle/backend/application/service/MemberService.java
  backend/src/main/java/org/donggle/backend/domain/member/Member.java
  backend/src/main/java/org/donggle/backend/ui/MemberController.java
  backend/src/test/java/org/donggle/backend/application/service/MemberServiceTest.java
Labels: 🕋 backend, 🌟 feature

#416 [BE] feat: AOP를 이용한 사용자의 중복실행(글,카테고리 추가) 막기
  backend/src/main/java/org/donggle/backend/application/service/category/CategoryService.java
  backend/src/main/java/org/donggle/backend/application/service/concurrent/ConcurrentAccessException.java
  backend/src/main/java/org/donggle/backend/application/service/concurrent/NoConcurrentAccessAspect.java
  backend/src/main/java/org/donggle/backend/application/service/concurrent/NoConcurrentExecution.java
  backend/src/main/java/org/donggle/backend/application/service/member/MemberService.java
  backend/src/main/java/org/donggle/backend/application/service/trash/TrashService.java
  backend/src/main/java/org/donggle/backend/application/service/writing/WritingFacadeService.java
  backend/src/main/java/org/donggle/backend/config/InitLocalAndTestData.java
  backend/src/main/java/org/donggle/backend/exception/authentication/ExpiredRefreshTokenException.java
  backend/src/main/java/org/donggle/backend/ui/CategoryController.java
  backend/src/main/java/org/donggle/backend/ui/MemberController.java
  backend/src/main/java/org/donggle/backend/ui/TrashController.java
  backend/src/test/java/org/donggle/backend/application/NoConcurrentAccessAspectTest.java
  backend/src/test/java/org/donggle/backend/application/service/CategoryServiceTest.java
  backend/src/test/java/org/donggle/backend/application/service/MemberServiceTest.java
  backend/src/test/java/org/donggle/backend/application/service/TrashServiceTest.java
  backend/src/test/java/org/donggle/backend/domain/writing/BlockTest.java
Labels: 🐞 bug, 🛠️ refactor, 🕋 backend

#424 [BE] refactor: 회원조회할때 커버링 인덱스가 적용되도록 수정
  backend/src/main/java/org/donggle/backend/application/client/LoginClient.java
  backend/src/main/java/org/donggle/backend/application/repository/MemberRepository.java
  backend/src/main/java/org/donggle/backend/application/repository/dto/MemberInfo.java
  backend/src/main/java/org/donggle/backend/application/service/auth/AuthFacadeService.java
  backend/src/main/java/org/donggle/backend/application/service/auth/AuthService.java
  backend/src/main/java/org/donggle/backend/application/service/auth/LoginClients.java
  backend/src/main/java/org/donggle/backend/domain/member/Member.java
  backend/src/main/java/org/donggle/backend/infrastructure/oauth/kakao/KakaoLoginClient.java
  backend/src/main/java/org/donggle/backend/infrastructure/oauth/kakao/KakaoLoginUserInfoClient.java
  backend/src/main/java/org/donggle/backend/infrastructure/oauth/kakao/dto/response/KakaoProfileResponse.java
  backend/src/main/java/org/donggle/backend/infrastructure/oauth/kakao/dto/response/SocialUserInfo.java
Labels: 🛠️ refactor, 🕋 backend

#426 [BE] refactor: 여러번 쿼리나가는 글 가져오기, 글 발행정보 쿼리 수정
  backend/src/main/java/org/donggle/backend/application/repository/BlogWritingRepository.java
  backend/src/main/java/org/donggle/backend/application/repository/WritingRepository.java
  backend/src/main/java/org/donggle/backend/application/service/blog/PublishService.java
  backend/src/main/java/org/donggle/backend/application/service/category/CategoryService.java
  backend/src/main/java/org/donggle/backend/application/service/writing/WritingFacadeService.java
  backend/src/main/java/org/donggle/backend/application/service/writing/WritingService.java
  backend/src/test/java/org/donggle/backend/application/NoConcurrentAccessAspectTest.java
Labels: 🛠️ refactor, 🕋 backend

#428 [BE] feat: 미디움, 티스토리 발행 시 선택 정보 추가 기능 구현
  backend/src/main/java/org/donggle/backend/application/client/BlogClient.java
  backend/src/main/java/org/donggle/backend/application/service/blog/PublishFacadeService.java
  backend/src/main/java/org/donggle/backend/application/service/request/PublishRequest.java
  backend/src/main/java/org/donggle/backend/domain/blog/BlogClients.java
  backend/src/main/java/org/donggle/backend/domain/blog/PublishStatus.java
  backend/src/main/java/org/donggle/backend/exception/business/InvalidPublishRequestException.java
  backend/src/main/java/org/donggle/backend/infrastructure/client/medium/MediumApiClient.java
  backend/src/main/java/org/donggle/backend/infrastructure/client/tistory/TistoryApiClient.java
  backend/src/main/java/org/donggle/backend/infrastructure/client/tistory/TistoryConnectionClient.java
  backend/src/main/java/org/donggle/backend/infrastructure/client/tistory/dto/request/TistoryPublishRequest.java
  backend/src/main/java/org/donggle/backend/ui/PublishController.java
  backend/src/main/java/org/donggle/backend/ui/WritingController.java
  backend/src/test/java/org/donggle/backend/application/service/PublishServiceTest.java
Labels: 🕋 backend, 🌟 feature

#429 [BE] feat: 티스토리 카테고리 요청, 응답 API 구현
  backend/src/main/java/org/donggle/backend/application/repository/WritingRepository.java
  backend/src/main/java/org/donggle/backend/application/service/writing/WritingService.java
  backend/src/main/java/org/donggle/backend/infrastructure/client/tistory/TistoryApiClient.java
  backend/src/main/java/org/donggle/backend/infrastructure/client/tistory/dto/response/TistoryCategoryListResponseWrapper.java
  backend/src/main/java/org/donggle/backend/infrastructure/client/tistory/dto/response/TistoryPublishWritingResponse.java
  backend/src/main/java/org/donggle/backend/ui/BlogController.java
  backend/src/main/java/org/donggle/backend/ui/response/TistoryCategoryListResposne.java
Labels: 🕋 backend, 🌟 feature

#434 [BE] fix: 로그인 오류 수정
  backend/src/main/java/org/donggle/backend/application/service/auth/AuthService.java
  backend/src/main/java/org/donggle/backend/application/service/trash/TrashService.java
Labels: 🐞 bug, 🕋 backend

#364 [FE] feat: 전역 상태(현재 보고있는 글, 카테고리) 추가
  frontend/package.json
  frontend/src/components/Category/List/useCategories.ts
  frontend/src/components/Category/WritingList/WritingList.tsx
  frontend/src/components/FileUploadModal/FileUploadModal.tsx
  frontend/src/components/FileUploadModal/useFileUploadModal.ts
  frontend/src/components/TrashCan/DeletedWritingList.tsx
  frontend/src/components/TrashCanTable/TrashCanTable.tsx
  frontend/src/components/WritingSideBar/WritingSideBar.tsx
  frontend/src/components/WritingTable/WritingTable.tsx
  frontend/src/globalState/index.ts
  frontend/src/hooks/usePageNavigate.ts
  frontend/src/hooks/use활성화된글설정.ts
  frontend/src/hooks/use활성화된카테고리설정.ts
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/TrashCanPage/TrashCanPage.tsx
  frontend/src/pages/WritingPage/WritingPage.tsx
  frontend/src/pages/WritingTablePage/WritingTablePage.tsx
  frontend/webpack.common.js
  frontend/yarn.lock
Labels: 🛠️ refactor, 🖥️ frontend

#440 [BE] feat: 글의 기본 쿼리로나가는 @sql 어노테이션 제거 및 로그인 관련 복합 유니크 인덱스 적용
  backend/src/main/java/org/donggle/backend/application/client/LoginClient.java
  backend/src/main/java/org/donggle/backend/application/repository/MemberRepository.java
  backend/src/main/java/org/donggle/backend/application/repository/WritingRepository.java
  backend/src/main/java/org/donggle/backend/application/service/auth/AuthFacadeService.java
  backend/src/main/java/org/donggle/backend/application/service/auth/AuthService.java
  backend/src/main/java/org/donggle/backend/application/service/auth/LoginClients.java
  backend/src/main/java/org/donggle/backend/application/service/category/CategoryService.java
  backend/src/main/java/org/donggle/backend/application/service/concurrent/NoConcurrentAccessAspect.java
  backend/src/main/java/org/donggle/backend/application/service/trash/TrashService.java
  backend/src/main/java/org/donggle/backend/application/service/writing/WritingService.java
  backend/src/main/java/org/donggle/backend/domain/member/Member.java
  backend/src/main/java/org/donggle/backend/domain/writing/Writing.java
  backend/src/main/java/org/donggle/backend/infrastructure/oauth/kakao/KakaoLoginClient.java
  backend/src/main/java/org/donggle/backend/infrastructure/oauth/kakao/KakaoLoginUserInfoClient.java
  backend/src/main/java/org/donggle/backend/infrastructure/oauth/kakao/dto/response/KakaoProfileResponse.java
  backend/src/main/java/org/donggle/backend/infrastructure/oauth/kakao/dto/response/UserInfo.java
  backend/src/main/java/org/donggle/backend/ui/WritingController.java
  backend/src/main/java/org/donggle/backend/ui/response/WritingHomeResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/WritingPropertiesResponse.java
  backend/src/test/java/org/donggle/backend/application/service/CategoryServiceTest.java
  backend/src/test/java/org/donggle/backend/application/service/TrashServiceTest.java
Labels: 🐞 bug, 🛠️ refactor, 🕋 backend

#449 [BE] fix: 커플릭트 해결
  backend/src/main/java/org/donggle/backend/application/service/auth/AuthService.java
  backend/src/main/java/org/donggle/backend/config/InitLocalAndTestData.java
  backend/src/main/java/org/donggle/backend/domain/member/Member.java
  backend/src/main/java/org/donggle/backend/infrastructure/file/S3UploadClient.java
  backend/src/main/java/org/donggle/backend/infrastructure/oauth/kakao/dto/response/UserInfo.java
  backend/src/test/java/org/donggle/backend/application/service/MemberServiceTest.java
  backend/src/test/java/org/donggle/backend/domain/writing/BlockTest.java
Labels: 🐞 bug, 🕋 backend

#435 [FE] feat: 캐러셀 구현
  frontend/src/components/@common/Carousel/Carousel.stories.tsx
  frontend/src/components/@common/Carousel/Carousel.tsx
  frontend/src/components/@common/Carousel/Indicator/Indicator.tsx
  frontend/src/components/@common/Carousel/Media/Media.tsx
  frontend/src/components/@common/Carousel/Pagination/Pagination.tsx
Labels: 🎨 UI, 🖥️ frontend, 🌟 feature

#444 [FE] feat: Home 페이지 구현
  .DS_Store
  frontend/__tests__/hello.tsx
  frontend/src/apis/writings.ts
  frontend/src/assets/icons/home-border.svg
  frontend/src/assets/icons/index.ts
  frontend/src/components/@common/Pagination/Pagination.tsx
  frontend/src/components/HomeButton/HomeButton.tsx
  frontend/src/components/HomeTable/HomeTable.tsx
  frontend/src/components/HomeTable/useHomeTable.ts
  frontend/src/components/WritingTable/WritingTable.tsx
  frontend/src/constants/path.ts
  frontend/src/mocks/handlers/writing.ts
  frontend/src/mocks/homeWritingMock.ts
  frontend/src/pages/HomePage/HomePage.tsx
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/routes/Router.tsx
  frontend/src/types/apis/writings.ts
Labels: 🎨 UI, 🖥️ frontend, 🌟 feature

#451 [FE] fix: `HomeTable` 컴포넌트 버그 수정
  .DS_Store
  frontend/src/components/HomeTable/HomeTable.tsx
  frontend/src/hooks/usePageNavigate.ts
Labels: 🐞 bug, 🖥️ frontend

#461 [FE] fix: `HomeTable` 페이지 인덱스 이슈 수정
  frontend/src/components/@common/Pagination/Pagination.tsx
  frontend/src/components/HomeTable/HomeTable.tsx
  frontend/src/components/HomeTable/useHomeTable.ts
  frontend/src/mocks/homeWritingMock.ts
Labels: 🐞 bug, 🖥️ frontend

#464 [FE] feat: 발행 시 설정할 수 있는 정보 추가, 도움말 패널 닫기 기능 구현
  frontend/src/apis/writings.ts
  frontend/src/assets/icons/index.ts
  frontend/src/assets/icons/password.svg
  frontend/src/assets/icons/publish.svg
  frontend/src/assets/icons/time.svg
  frontend/src/components/@common/Menu/Menu.stories.tsx
  frontend/src/components/@common/Menu/Menu.tsx
  frontend/src/components/HelpMenu/HelpMenu.tsx
  frontend/src/components/PublishingPropertySection/MediumPublishingPropertySection.tsx
  frontend/src/components/PublishingPropertySection/PublishingPropertySection.stories.tsx
  frontend/src/components/PublishingPropertySection/PublishingPropertySection.tsx
  frontend/src/components/PublishingPropertySection/PublishingPropertyStyle.ts
  frontend/src/components/PublishingPropertySection/TistoryPublishingPropertySection.tsx
  frontend/src/components/PublishingPropertySection/useMediumPublishingPropertySection.ts
  frontend/src/components/PublishingPropertySection/usePublishingPropertySection.ts
  frontend/src/components/PublishingPropertySection/useTistoryPublishingPropertySection.ts
  frontend/src/components/PublishingSection/PublishingSection.tsx
  frontend/src/components/WritingPropertySection/WritingPropertySection.tsx
  frontend/src/components/WritingSideBar/WritingSideBar.tsx
  frontend/src/hooks/@common/useOutsideClickEffect.ts
  frontend/src/types/apis/writings.ts
  frontend/src/types/domain.ts
  frontend/src/utils/date.ts
Labels: 🖥️ frontend, 🌟 feature

#488 [FE] feat: `accessToken` 만료 시 재발급하는 기능
  frontend/package.json
  frontend/src/apis/category.ts
  frontend/src/apis/fetch.ts
  frontend/src/apis/login.ts
  frontend/src/apis/member.ts
  frontend/src/apis/trash.ts
  frontend/src/apis/writings.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/handlers/auth.ts
  frontend/src/mocks/handlers/error.ts
  frontend/src/mocks/handlers/login.ts
  frontend/src/mocks/handlers/writing.ts
  frontend/src/types/apis/login.ts
  frontend/src/utils/apis/HttpError.ts
  frontend/yarn.lock
Labels: 🖥️ frontend, 🌟 feature

#472 [FE] test: 테스트 코드 뼈대 구현
  frontend/cypress/e2e/main-page.cy.ts
  frontend/cypress/e2e/space-page.cy.ts
  frontend/src/mocks/auth.ts
  frontend/src/mocks/handlers/category.ts
  frontend/src/mocks/handlers/connections.ts
  frontend/src/mocks/handlers/login.ts
  frontend/src/mocks/handlers/member.ts
  frontend/src/mocks/handlers/trash.ts
  frontend/src/mocks/handlers/writing.ts
Labels: 🧪 test, 🖥️ frontend

#482 [FE] chore: 구글 애널리틱스 추가
  frontend/public/index.html
Labels: ⚙️ setting, 🖥️ frontend
