Repository woowacourse-teams/2023-dong-gle, pull requests merged in 2023-10, with the labels that each got.

#502 [FE] hotfix: import 에러 수정
  frontend/src/mocks/handlers/writing.ts
Labels: 🐞 bug, 🖥️ frontend

#493 [FE] fix: 카테고리 이름이 길면 카테고리를 열 수 있는 버튼이 보이지 않는 현상 수정
  frontend/src/components/@common/Accordion/AccordionTitle.tsx
  frontend/src/components/Category/Category/Category.tsx
  frontend/src/components/WritingViewer/WritingTitle/WritingTitle.tsx
Labels: 🐞 bug, 🎨 UI, 🖥️ frontend

#495 [FE] fix: 발행정보와 발행 플랫폼 헤더와 데이터 위치 조정
  frontend/src/components/WritingTable/WritingTable.tsx
Labels: 🐞 bug, 🎨 UI, 🖥️ frontend

#497 [FE] fix: 글에서 빈 블락이 렌더링되지 않는 현상 수정
  frontend/src/components/WritingViewer/WritingViewer.tsx
Labels: 🐞 bug, 🎨 UI, 🖥️ frontend

#509 [FE] refactor: 파비콘에 배경 흰색 추가
  frontend/public/donggle-logo.ico
  frontend/public/donggle-logo.png
  frontend/webpack.common.js
Labels: 🎨 UI, 🖥️ frontend

#499 [FE] refactor: 전체적인 모킹 서버(msw) 로직 정비
  frontend/src/apis/trash.ts
  frontend/src/apis/writings.ts
  frontend/src/components/WritingTable/WritingTable.stories.tsx
  frontend/src/components/WritingViewer/WritingViewer.stories.tsx
  frontend/src/mocks/categoryContentsMock.ts
  frontend/src/mocks/data/category.ts
  frontend/src/mocks/data/homePage.ts
  frontend/src/mocks/data/member.ts
  frontend/src/mocks/data/trashCanPage.ts
  frontend/src/mocks/data/writingPage.ts
  frontend/src/mocks/data/writingTablePage.ts
  frontend/src/mocks/handlers/auth.ts
  frontend/src/mocks/handlers/category.ts
  frontend/src/mocks/handlers/connections.ts
  frontend/src/mocks/handlers/login.ts
  frontend/src/mocks/handlers/member.ts
  frontend/src/mocks/handlers/trash.ts
  frontend/src/mocks/handlers/utils.ts
  frontend/src/mocks/handlers/writing.ts
  frontend/src/mocks/homeWritingMock.ts
  frontend/src/mocks/memberContentsMock.ts
  frontend/src/mocks/trashCanContentsMock.ts
  frontend/src/mocks/writingTableMock.ts
  frontend/src/types/apis/trash.ts
Labels: 🛠️ refactor, 🖥️ frontend

#518 [FE] fix: 글 복구, 글 삭제 관련 invalidateQueries 설정
  frontend/src/components/Category/WritingList/useDeleteWritings.ts
  frontend/src/components/TrashCanTable/useRestoreDeletedWritings.ts
Labels: 🐞 bug, 🖥️ frontend

#514 [FE] fix: 휴지통 페이지 이동 버튼 수정
  frontend/src/components/GoToPageLink/GoToPageLink.tsx
  frontend/src/components/HomeButton/HomeButton.tsx
  frontend/src/components/TrashCan/DeletedWritingList.tsx
  frontend/src/components/TrashCan/TrashCan.tsx
  frontend/src/pages/Layout/Layout.tsx
Labels: 🐞 bug, 🖥️ frontend

#531 [FE] refactor: 아이콘 버튼에 호버 시 효과 추가
  frontend/src/components/@common/Modal/Modal.tsx
  frontend/src/components/Header/Header.tsx
Labels: 🎨 UI, 🛠️ refactor, 🖥️ frontend

#533 [FE] refactor: 글, 카테고리 제목 수정 시 기존 제목이 유지되도록 수정
  frontend/src/components/Category/Category/Category.tsx
  frontend/src/components/WritingViewer/WritingTitle/WritingTitle.tsx
Labels: 🎨 UI, 🛠️ refactor, 🖥️ frontend

#535 [FE] refactor: 글 테이블에 발행한 블로그 플랫폼 여부에 따라 높이가 다른 현상 수정
  frontend/src/components/HomeTable/HomeTable.tsx
  frontend/src/components/WritingTable/WritingTable.tsx
Labels: 🎨 UI, 🛠️ refactor, 🖥️ frontend

#537 [FE] feat: 노션 링크 입력 `input`창 엔터쳐서 글 가져오는 기능 추가
  frontend/src/components/FileUploadModal/FileUploadModal.tsx
Labels: 🖥️ frontend, 🌟 feature

#538 [FE] refactor: 카카오 로그인 버튼 svg 파일 대신 직접 디자인
  frontend/src/assets/icons/index.ts
  frontend/src/assets/icons/kakao-login.svg
  frontend/src/assets/icons/kakao-symbol.svg
  frontend/src/components/Login/KakaoLoginButton.tsx
Labels: 🎨 UI, 🖥️ frontend

#539 [FE] design: 글 목록 호버 시 효과 변경
  frontend/src/components/HomeTable/HomeTable.tsx
  frontend/src/components/TrashCanTable/TrashCanTable.tsx
  frontend/src/components/WritingTable/WritingTable.tsx
Labels: 🎨 UI, 🖥️ frontend

#540 [FE] fix: 빈 공간 클릭 시 이동되게 수정
  frontend/src/components/Category/Category/Category.tsx
  frontend/src/components/Category/WritingList/WritingList.tsx
Labels: 🐞 bug, 🖥️ frontend

#541 [FE] fix: 체크박스 오류 해결
  frontend/src/components/TrashCanTable/TrashCanTable.tsx
  frontend/src/components/TrashCanTable/useDeletePermanentWritings.ts
  frontend/src/components/TrashCanTable/useRestoreDeletedWritings.ts
  frontend/src/components/TrashCanTable/useTrashCanTable.ts
Labels: 🐞 bug, 🖥️ frontend

#516 [FE] feat: 티스토리 발행 카테고리 선택 기능, 발행 탭 블로그 연결 버튼 추가
  frontend/src/apis/blogs.ts
  frontend/src/assets/icons/category.svg
  frontend/src/assets/icons/index.ts
  frontend/src/components/PublishingPropertySection/PublishingPropertyStyle.ts
  frontend/src/components/PublishingPropertySection/TistoryPublishingPropertySection.tsx
  frontend/src/components/PublishingPropertySection/useTistoryPublishingPropertySection.ts
  frontend/src/components/PublishingSection/PublishingSection.tsx
  frontend/src/constants/apis/url.ts
  frontend/src/hooks/queries/blogs/useTistoryCategories.ts
  frontend/src/types/apis/blogs.ts
Labels: 🖥️ frontend, 🌟 feature

#498 [BE] refactor: 회원 탈퇴 로직 수정
  backend/src/main/java/org/donggle/backend/application/repository/BlockRepository.java
  backend/src/main/java/org/donggle/backend/application/repository/BlogWritingRepository.java
  backend/src/main/java/org/donggle/backend/application/repository/CategoryRepository.java
  backend/src/main/java/org/donggle/backend/application/repository/MemberCredentialsRepository.java
  backend/src/main/java/org/donggle/backend/application/repository/MemberRepository.java
  backend/src/main/java/org/donggle/backend/application/repository/StyleRepository.java
  backend/src/main/java/org/donggle/backend/application/repository/TokenRepository.java
  backend/src/main/java/org/donggle/backend/application/repository/WritingRepository.java
  backend/src/main/java/org/donggle/backend/application/service/blog/PublishService.java
  backend/src/main/java/org/donggle/backend/application/service/category/CategoryService.java
  backend/src/main/java/org/donggle/backend/application/service/member/MemberService.java
  backend/src/main/java/org/donggle/backend/application/service/writing/WritingService.java
  backend/src/main/java/org/donggle/backend/domain/member/Member.java
  backend/src/main/java/org/donggle/backend/infrastructure/client/medium/MediumConnectionClient.java
  backend/src/main/java/org/donggle/backend/infrastructure/client/notion/NotionConnectionClient.java
  backend/src/main/java/org/donggle/backend/infrastructure/client/tistory/TistoryApiClient.java
  backend/src/main/java/org/donggle/backend/infrastructure/client/tistory/TistoryConnectionClient.java
  backend/src/main/java/org/donggle/backend/ui/MemberController.java
  backend/src/main/resources/application.yml
  backend/src/test/java/org/donggle/backend/TestFixtures.java
  backend/src/test/java/org/donggle/backend/application/service/MemberServiceTest.java
Labels: 🧪 test, 🛠️ refactor, 🕋 backend

#544 [FE] refactor: 회원 탈퇴 HTTP 상태 코드 변경
  frontend/src/apis/member.ts
  frontend/src/mocks/handlers/member.ts
Labels: 🛠️ refactor, 🖥️ frontend

#475 [BE] hotfix: 어노테이션 정보 조회 사이클 지정 및 글 세부정보 조회 테그 fetch join 적용
  backend/src/main/java/org/donggle/backend/application/service/concurrent/NoConcurrentAccessAspect.java
  backend/src/main/java/org/donggle/backend/application/service/concurrent/NoConcurrentExecution.java
  backend/src/main/java/org/donggle/backend/ui/BlogController.java
  backend/src/main/java/org/donggle/backend/ui/response/PublishedDetailResponse.java
Labels: 🐞 bug, 🛠️ refactor, 🕋 backend

#546 [BE] fix: 노션 파싱 버그 수정
  backend/src/main/java/org/donggle/backend/infrastructure/client/notion/NotionApiClient.java
Labels: 🐞 bug, 🕋 backend

#548 [BE] fix: 리스트 랜더링 버그 수정
  backend/src/main/java/org/donggle/backend/domain/renderer/html/HtmlRenderer.java
  backend/src/main/java/org/donggle/backend/domain/renderer/html/HtmlType.java
Labels: 🐞 bug, 🕋 backend

#550 [FE] fix: `prismjs` dynamic import 방식 개선
  frontend/package.json
  frontend/src/hooks/@common/useCodeHighlight.ts
  frontend/src/mocks/data/writingPage.ts
  frontend/webpack.common.js
  frontend/yarn.lock
Labels: 🐞 bug, 🖥️ frontend

#553 [BE] fix: 리스트 테스트 오류 수정
  backend/src/test/java/org/donggle/backend/domain/renderer/html/HtmlRendererTest.java
Labels: 🐞 bug, 🕋 backend

#555 [BE] fix: 티스토리 카테고리가 없는 사용자에 대한 예외 처리 기능 구현
  backend/src/main/java/org/donggle/backend/infrastructure/client/tistory/TistoryApiClient.java
  backend/src/main/java/org/donggle/backend/ui/BlogController.java
  backend/src/main/java/org/donggle/backend/ui/response/TistoryCategoryListResponse.java
Labels: 🐞 bug, 🕋 backend

#542 [FE] refactor: 휴지통, 카테고리, 전체 글 비었을 때 렌더링 수정
  frontend/src/assets/icons/empty-writing-table.svg
  frontend/src/assets/icons/index.ts
  frontend/src/assets/icons/trash-can-empty.svg
  frontend/src/components/HomeTable/HomeTable.tsx
  frontend/src/components/HomeTable/useHomeTable.ts
  frontend/src/pages/HomePage/HomePage.tsx
  frontend/src/pages/TrashCanPage/TrashCanPage.tsx
  frontend/src/pages/WritingTablePage/WritingTablePage.tsx
Labels: 🛠️ refactor, 🖥️ frontend

#556 [BE] chore: 백엔드 컨테이너 이미지 분리
  .github/workflows/build-be-dev.yml
  .github/workflows/build-be-prod.yml
  docker-compose.yml
Labels: 🧱 infra, 🕋 backend

#521 [FE] test: 모킹 서버를 이용한 cypress 테스트 추가
  .github/workflows/fe-test-e2e.yml
  frontend/cypress/e2e/main-page.cy.ts
  frontend/cypress/e2e/my-page.cy.ts
  frontend/cypress/e2e/space-page.cy.ts
  frontend/cypress/e2e/trashcan-page.cy.ts
  frontend/cypress/e2e/writing-page.cy.ts
  frontend/cypress/tsconfig.json
  frontend/package.json
  frontend/src/components/Category/WritingList/WritingList.tsx
  frontend/src/components/ConnectionSection/ConnectionSection.tsx
  frontend/src/components/TrashCanTable/TrashCanTable.tsx
  frontend/src/mocks/data/trashCanPage.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: 🧪 test, 🖥️ frontend

#571 [BE] refactor: logout 및 reissueRefreshToken 요청시 리프래시 토큰이 없는 경우 추가 핸들링
  backend/src/main/java/org/donggle/backend/application/service/auth/AuthFacadeService.java
  backend/src/main/java/org/donggle/backend/exception/authentication/ExpiredRefreshTokenException.java
  backend/src/main/java/org/donggle/backend/exception/authentication/InvalidRefreshTokenException.java
  backend/src/main/java/org/donggle/backend/ui/AuthController.java
  backend/src/main/java/org/donggle/backend/ui/common/WebMvcConfig.java
  backend/src/test/java/org/donggle/backend/application/service/auth/AuthFacadeServiceTest.java
  backend/src/test/java/org/donggle/backend/ui/AuthControllerTest.java
Labels: 🐞 bug, 🧪 test, 🛠️ refactor, 🕋 backend

#566 [FE] design: reset.css 에 a:link, a:visit 컬러 스타일 추가
  frontend/src/components/GoToPageLink/GoToPageLink.tsx
  frontend/src/styles/reset.ts
Labels: 🐞 bug, 🎨 UI, 🖥️ frontend

#563 [FE] refactor: 도움말 디자인 바꾸기
  frontend/src/components/@common/Menu/Item.tsx
  frontend/src/components/HelpMenu/HelpMenu.tsx
Labels: 🎨 UI, 🛠️ refactor, 🖥️ frontend

#584 [FE] style: `HelpMenu`에 아이콘 추가 및 테두리 둥글게 변경
  frontend/src/assets/icons/help-menu-book.svg
  frontend/src/assets/icons/help-menu-feedback.svg
  frontend/src/assets/icons/index.ts
  frontend/src/components/@common/Menu/Item.tsx
  frontend/src/components/@common/Menu/Menu.tsx
Labels: 🎨 UI, 🛠️ refactor, 🖥️ frontend

#588 [BE] feat: 티스토리 이미지 교체 기능 구현
  backend/src/main/java/org/donggle/backend/application/client/BlogClient.java
  backend/src/main/java/org/donggle/backend/application/client/FileDownloadClient.java
  backend/src/main/java/org/donggle/backend/application/client/FileUploadClient.java
  backend/src/main/java/org/donggle/backend/application/service/blog/PublishFacadeService.java
  backend/src/main/java/org/donggle/backend/application/service/publish/PublishFacadeService.java
  backend/src/main/java/org/donggle/backend/application/service/publish/PublishService.java
  backend/src/main/java/org/donggle/backend/application/service/request/ImageUploadRequest.java
  backend/src/main/java/org/donggle/backend/application/service/request/PublishWritingRequest.java
  backend/src/main/java/org/donggle/backend/application/service/writing/WritingService.java
  backend/src/main/java/org/donggle/backend/domain/blog/BlogClients.java
  backend/src/main/java/org/donggle/backend/domain/writing/block/ImageBlock.java
  backend/src/main/java/org/donggle/backend/domain/writing/block/ImageUrl.java
  backend/src/main/java/org/donggle/backend/infrastructure/client/medium/MediumApiClient.java
  backend/src/main/java/org/donggle/backend/infrastructure/client/tistory/TistoryApiClient.java
  backend/src/main/java/org/donggle/backend/infrastructure/client/tistory/dto/TistoryImageUploadResponseWrapper.java
  backend/src/main/java/org/donggle/backend/infrastructure/file/FileDownloadClient.java
  backend/src/main/java/org/donggle/backend/infrastructure/file/NotionFileHandlerClient.java
  backend/src/main/java/org/donggle/backend/infrastructure/file/S3UploadClient.java
  backend/src/main/java/org/donggle/backend/infrastructure/file/SyncFileDownloadClient.java
  backend/src/main/java/org/donggle/backend/ui/PublishController.java
  backend/src/main/java/org/donggle/backend/ui/response/ImageUploadResponse.java
  backend/src/test/java/org/donggle/backend/application/service/PublishFacadeServiceTest.java
  backend/src/test/java/org/donggle/backend/application/service/publish/PublishServiceTest.java
  backend/src/test/java/org/donggle/backend/infrastructure/client/tistory/TistoryApiClientTest.java
  backend/src/test/java/org/donggle/backend/ui/ControllerTest.java
Labels: 🕋 backend, 🌟 feature

#594 [FE] refactor: 레이아웃에 큰 영향을 주는 `Drawer` 컴포넌트를 분리하여 반응형 사이드바 구현
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/LeftSideBar/LeftSideBar.tsx
  frontend/src/globalState/index.ts
  frontend/src/hooks/@common/useMediaQuery.ts
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/styles/layoutStyle.ts
  frontend/yarn.lock
Labels: 🎨 UI, 🛠️ refactor, 🖥️ frontend

#599 [BE] fix: 티스토리 이미지 랜더링 오류 수정
  backend/src/main/java/org/donggle/backend/application/service/publish/PublishFacadeService.java
Labels: 🐞 bug, 🕋 backend

#586 [FE] refactor: 글 제목 수정 낙관적 업데이트 구현
  frontend/cypress.config.ts
  frontend/cypress/constants/url.ts
  frontend/cypress/e2e/space-page.cy.ts
  frontend/cypress/e2e/writing-page.cy.ts
  frontend/cypress/overrideHandler/writing.ts
  frontend/cypress/tsconfig.json
  frontend/src/components/WritingViewer/WritingTitle/WritingTitle.tsx
  frontend/src/hooks/@common/useControlledInput.ts
  frontend/src/mocks/browser.ts
  frontend/src/mocks/data/category.ts
  frontend/src/mocks/handlers/writing.ts
  frontend/src/types/msw.d.ts
Labels: 🧪 test, 🛠️ refactor, 🖥️ frontend

#595 [FE] feat: 반응형 구현
  frontend/src/assets/icons/index.ts
  frontend/src/assets/icons/logout.svg
  frontend/src/assets/icons/meatballs.svg
  frontend/src/components/@common/AnimationDiv/AnimationDiv.tsx
  frontend/src/components/@common/Menu/Item.tsx
  frontend/src/components/@common/Menu/Menu.stories.tsx
  frontend/src/components/@common/Menu/Menu.tsx
  frontend/src/components/@common/Menu/useMenu.ts
  frontend/src/components/@common/Pagination/Pagination.tsx
  frontend/src/components/@common/Toast/Toast.tsx
  frontend/src/components/ConnectionSection/ConnectionSection.tsx
  frontend/src/components/FileUploadModal/FileUploadModal.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/HelpMenu/HelpMenu.tsx
  frontend/src/components/HomeTable/HomeTable.tsx
  frontend/src/components/InfoMenu/InfoMenu.tsx
  frontend/src/components/InfoMenu/useInfoMenu.tsx
  frontend/src/components/Login/KakaoLoginButton.tsx
  frontend/src/components/Modal/DeleteAccountModal.tsx/DeleteAccountModal.tsx
  frontend/src/components/Modal/LoginModal/LoginModal.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/TrashCanTable/TrashCanTable.tsx
  frontend/src/components/WritingSideBar/WritingSideBar.tsx
  frontend/src/components/WritingTable/WritingTable.tsx
  frontend/src/components/WritingViewer/WritingViewer.tsx
  frontend/src/constants/style.ts
  frontend/src/hooks/@common/useLogout.ts
  frontend/src/pages/HomePage/HomePage.tsx
  frontend/src/pages/IntroducePage/IntroducePage.tsx
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/MyPage/MyPage.tsx
  frontend/src/pages/TrashCanPage/TrashCanPage.tsx
  frontend/src/pages/WritingPage/WritingPage.tsx
  frontend/src/pages/WritingTablePage/WritingTablePage.tsx
  frontend/src/styles/GlobalStyle.tsx
Labels: 🎨 UI, 🖥️ frontend

#580 [ALL] chore: prod cicd actions 실행 순서 변경 및 deploy.sh 실행 추가
  .github/workflows/build-be-prod.yml
  .github/workflows/build-fe-prod.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/fe-test-e2e.yml
Labels: 🧱 infra, 🛠️ refactor
