Repository woowacourse-teams/2023-dong-gle, pull requests merged in 2023-07, with the labels that each got.

#4 [All] chore: 이슈/PR 템플릿 추가
  .github/ISSUE_TEMPLATE/issue-template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: setting

#12 [FE] chore: 프론트엔드 개발 환경 설정
  frontend/.babelrc.json
  frontend/.eslintrc
  frontend/.gitignore
  frontend/.prettierrc
  frontend/.storybook/main.ts
  frontend/.storybook/preview.tsx
  frontend/package.json
  frontend/public/index.html
  frontend/public/mockServiceWorker.js
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/server.ts
  frontend/src/styles/GlobalStyle.tsx
  frontend/src/styles/reset.ts
  frontend/src/styles/theme.ts
  frontend/tsconfig.json
  frontend/tsconfig.paths.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: ⚙️ setting, 🖥️ frontend

#24 [BE] feat: 뼈대 코드 구현
  backend/build.gradle
  backend/src/main/java/org/donggle/backend/application/repository/BlockRepository.java
  backend/src/main/java/org/donggle/backend/application/repository/BlockWritingRepository.java
  backend/src/main/java/org/donggle/backend/application/repository/BlogRepository.java
  backend/src/main/java/org/donggle/backend/application/repository/MemberRepository.java
  backend/src/main/java/org/donggle/backend/application/repository/StyleRepository.java
  backend/src/main/java/org/donggle/backend/application/repository/WritingRepository.java
  backend/src/main/java/org/donggle/backend/domain/BaseEntity.java
  backend/src/main/java/org/donggle/backend/domain/Block.java
  backend/src/main/java/org/donggle/backend/domain/BlockType.java
  backend/src/main/java/org/donggle/backend/domain/Blog.java
  backend/src/main/java/org/donggle/backend/domain/BlogWriting.java
  backend/src/main/java/org/donggle/backend/domain/Member.java
  backend/src/main/java/org/donggle/backend/domain/Style.java
  backend/src/main/java/org/donggle/backend/domain/StyleType.java
  backend/src/main/java/org/donggle/backend/domain/Writing.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yaml
Labels: 🕋 backend, 🌟 feature

#26 [FE] chore: 프론트엔드 개발 환경 수정
  frontend/src/apis/.gitkeep
  frontend/src/assets/.gitkeep
  frontend/src/components/@common/.gitkeep
  frontend/src/constants/.gitkeep
  frontend/src/hooks/@common/.gitkeep
  frontend/src/pages/.gitkeep
  frontend/src/types/.gitkeep
  frontend/src/utils/.gitkeep
  frontend/tsconfig.json
  frontend/tsconfig.paths.json
  frontend/webpack.config.js
Labels: ⚙️ setting, 🖥️ frontend

#38 [FE] chore: 절대 경로 설정 수정
  frontend/src/index.tsx
  frontend/webpack.config.js
Labels: 🐞 bug, ⚙️ setting, 🖥️ frontend

#43 [FE] fix: eslint 적용 되지 않는 현상 수정
  frontend/.eslintrc
Labels: 🐞 bug, ⚙️ setting, 🖥️ frontend

#52 [FE] feat: API 추상화 로직 구현
  frontend/src/apis/.gitkeep
  frontend/src/apis/fetch.ts
  frontend/src/apis/writings.ts
  frontend/src/hooks/@common/.gitkeep
  frontend/src/hooks/@common/useGetQuery.ts
  frontend/src/hooks/@common/useMutationQuery.ts
Labels: 🖥️ frontend, 🌟 feature

#56 [FE] refactor: writings API 타입 추가 및 관련 메서드 수정
  frontend/src/apis/writings.ts
  frontend/src/types/apis/writings.ts
Labels: 🛠️ refactor, 🖥️ frontend

#54 [FE] feat: `Spinner` 컴포넌트 구현
  frontend/src/components/@common/Spinner/Spinner.stories.tsx
  frontend/src/components/@common/Spinner/Spinner.tsx
  frontend/src/styles/animation.ts
Labels: 🎨 UI, 🖥️ frontend, 🌟 feature

#58 [FE] feat: 글 생성 API mocking
  frontend/src/apis/writings.ts
  frontend/src/mocks/handlers.ts
Labels: 🧪 test, 🖥️ frontend, 🌟 feature

#53 [BE] feat: 글 가져오기 컨트롤러 및 예외 핸들링 로직 구현
  backend/src/main/java/org/donggle/backend/config/WebMvcConfig.java
  backend/src/main/java/org/donggle/backend/exception/authentication/AuthenticationException.java
  backend/src/main/java/org/donggle/backend/exception/business/BusinessException.java
  backend/src/main/java/org/donggle/backend/exception/notfound/NotFoundException.java
  backend/src/main/java/org/donggle/backend/ui/UploadApiController.java
  backend/src/main/java/org/donggle/backend/ui/common/ErrorResponse.java
  backend/src/main/java/org/donggle/backend/ui/common/GlobalExceptionHandler.java
  backend/src/main/resources/application.yaml
  backend/src/main/resources/logback-spring.xml
Labels: 🕋 backend, 🌟 feature

#57 [FE] feat: 글 가져오기 기능 구현
  frontend/src/components/@common/.gitkeep
  frontend/src/hooks/useFileUpload.ts
  frontend/src/pages/Layout/Layout.tsx
Labels: 🎨 UI, 🖥️ frontend, 🌟 feature

#66 [FE] feat: 글 발행 POST API mocking 구현
  frontend/src/mocks/handlers.ts
Labels: 🧪 test, 🖥️ frontend, 🌟 feature

#67 [FE] feat: 글 생성 API 연결
  frontend/src/apis/writings.ts
  frontend/src/hooks/@common/useGetQuery.ts
  frontend/src/hooks/@common/useMutation.ts
  frontend/src/hooks/useFileUpload.ts
  frontend/src/index.tsx
  frontend/src/types/apis/writings.ts
  frontend/webpack.config.js
Labels: 🖥️ frontend, 🌟 feature

#65 [BE] feat: 텍스트 파싱 기능 구현
  backend/src/main/java/org/donggle/backend/domain/Block.java
  backend/src/main/java/org/donggle/backend/domain/BlockType.java
  backend/src/main/java/org/donggle/backend/domain/Style.java
  backend/src/main/java/org/donggle/backend/domain/StyleType.java
  backend/src/main/java/org/donggle/backend/domain/content/CodeBlockContent.java
  backend/src/main/java/org/donggle/backend/domain/content/Content.java
  backend/src/main/java/org/donggle/backend/domain/content/NormalContent.java
  backend/src/main/java/org/donggle/backend/domain/parser/MarkDownParser.java
  backend/src/main/java/org/donggle/backend/domain/parser/MarkDownStyleParser.java
  backend/src/test/java/org/donggle/backend/domain/parser/MarkDownParserTest.java
  backend/src/test/java/org/donggle/backend/domain/parser/MarkDownStyleParserTest.java
Labels: 🕋 backend, 🌟 feature

#60 [FE] feat: `WritingViewer` 컴포넌트 구현, 글 조회 api 연결, storybook msw 설정
  frontend/.storybook/main.ts
  frontend/.storybook/preview.tsx
  frontend/package.json
  frontend/src/apis/writings.ts
  frontend/src/components/WritingViewer/WritingViewer.stories.tsx
  frontend/src/components/WritingViewer/WritingViewer.tsx
  frontend/src/constants/apis/url.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/handlers/writing.ts
  frontend/src/mocks/writingContentMock.ts
  frontend/yarn.lock
Labels: ⚙️ setting, 🎨 UI, 🖥️ frontend, 🌟 feature

#46 [FE] feat: 글 발행 기능 구현
  frontend/.eslintrc
  frontend/src/apis/writings.ts
  frontend/src/assets/icons/check-symbol.svg
  frontend/src/assets/icons/index.ts
  frontend/src/components/BlogPublishButtonItem/BlogPublishButtonItem.stories.tsx
  frontend/src/components/BlogPublishButtonItem/BlogPublishButtonItem.tsx
  frontend/src/components/PublishingSection/PublishingSection.stories.tsx
  frontend/src/components/PublishingSection/PublishingSection.tsx
  frontend/src/components/WritingViewer/WritingViewer.tsx
  frontend/src/constants/.gitkeep
  frontend/src/constants/blog.ts
  frontend/src/mocks/handlers/writing.ts
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/WritingPage/WritingPage.tsx
  frontend/src/types/.gitkeep
  frontend/src/types/apis/writings.ts
  frontend/src/types/domain.ts
Labels: 🖥️ frontend, 🌟 feature

#72 [BE] feat , refactor: 개행을 기준으로 각 줄을 읽는 기능 구현 및 Parser 리팩터링
  backend/src/main/java/org/donggle/backend/domain/BlockType.java
  backend/src/main/java/org/donggle/backend/domain/content/CodeBlockContent.java
  backend/src/main/java/org/donggle/backend/domain/parser/MarkDownParser.java
  backend/src/main/java/org/donggle/backend/domain/parser/MarkDownStyleParser.java
  backend/src/test/java/org/donggle/backend/domain/parser/MarkDownParserTest.java
  backend/src/test/java/org/donggle/backend/domain/parser/MarkDownStyleParserTest.java
Labels: 🛠️ refactor, 🕋 backend, 🌟 feature

#71 [BE] feat: 글 객체를 HTML로 변환하는 기능 구현
  backend/src/main/java/org/donggle/backend/domain/Member.java
  backend/src/main/java/org/donggle/backend/domain/Writing.java
  backend/src/main/java/org/donggle/backend/domain/renderer/html/HtmlRenderer.java
  backend/src/main/java/org/donggle/backend/domain/renderer/html/HtmlStyleRenderer.java
  backend/src/main/java/org/donggle/backend/domain/renderer/html/HtmlStyleType.java
  backend/src/main/java/org/donggle/backend/domain/renderer/html/HtmlType.java
  backend/src/test/java/org/donggle/backend/domain/renderer/html/HtmlRendererTest.java
  backend/src/test/java/org/donggle/backend/domain/renderer/html/HtmlStyleRendererTest.java
Labels: 🕋 backend, 🌟 feature

#74 [BE] feat: Medium API 서비스 구현
  backend/build.gradle
  backend/src/main/java/org/donggle/backend/application/service/medium/MediumApiService.java
  backend/src/main/java/org/donggle/backend/application/service/medium/dto/MediumPublishData.java
  backend/src/main/java/org/donggle/backend/application/service/medium/dto/MediumPublishRequest.java
  backend/src/main/java/org/donggle/backend/application/service/medium/dto/MediumPublishResponse.java
  backend/src/main/java/org/donggle/backend/application/service/medium/dto/MediumUserData.java
  backend/src/main/java/org/donggle/backend/application/service/medium/dto/MediumUserResponse.java
Labels: 🕋 backend, 🌟 feature

#75 [BE] feat: 글 영속화 로직 구현
  backend/src/main/java/org/donggle/backend/application/UploadWritingService.java
  backend/src/main/java/org/donggle/backend/application/repository/ContentRepository.java
  backend/src/main/java/org/donggle/backend/domain/Member.java
  backend/src/main/java/org/donggle/backend/domain/Style.java
  backend/src/main/java/org/donggle/backend/domain/Writing.java
  backend/src/main/java/org/donggle/backend/domain/content/CodeBlockContent.java
  backend/src/main/java/org/donggle/backend/domain/content/Content.java
  backend/src/main/java/org/donggle/backend/domain/content/ImageContent.java
  backend/src/main/java/org/donggle/backend/domain/content/NormalContent.java
  backend/src/main/java/org/donggle/backend/exception/notfound/MemberNotFoundException.java
  backend/src/main/java/org/donggle/backend/ui/UploadApiController.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/org/donggle/backend/domain/renderer/html/HtmlRendererTest.java
Labels: 🕋 backend, 🌟 feature

#76 [BE] feat: 글 조회 API 구현
  backend/src/main/java/org/donggle/backend/application/WritingService.java
  backend/src/main/java/org/donggle/backend/application/repository/BlockRepository.java
  backend/src/main/java/org/donggle/backend/domain/content/NormalContent.java
  backend/src/main/java/org/donggle/backend/domain/renderer/html/HtmlRenderer.java
  backend/src/main/java/org/donggle/backend/dto/WritingResponse.java
  backend/src/main/java/org/donggle/backend/exception/notfound/WritingNotFoundException.java
  backend/src/main/java/org/donggle/backend/ui/WritingController.java
Labels: 🕋 backend, 🌟 feature

#78 [BE] refactor: 렌더링 기능 수정
  backend/src/main/java/org/donggle/backend/domain/renderer/html/HtmlType.java
Labels: 🐞 bug, 🛠️ refactor, 🕋 backend

#80 [BE] feat: 글 발행 API 구현
  backend/src/main/java/org/donggle/backend/application/repository/BlogRepository.java
  backend/src/main/java/org/donggle/backend/application/repository/BlogWritingRepository.java
  backend/src/main/java/org/donggle/backend/application/service/PublishService.java
  backend/src/main/java/org/donggle/backend/application/service/medium/dto/MediumPublishData.java
  backend/src/main/java/org/donggle/backend/domain/BlogType.java
  backend/src/main/java/org/donggle/backend/domain/BlogWriting.java
  backend/src/main/java/org/donggle/backend/domain/Writing.java
  backend/src/main/java/org/donggle/backend/dto/PublishRequest.java
  backend/src/main/java/org/donggle/backend/exception/notfound/BlogNotFoundException.java
  backend/src/main/java/org/donggle/backend/ui/WritingController.java
Labels: 🕋 backend, 🌟 feature

#83 [BE] feat: 글 정보 조회 API 기능 구현
  backend/src/main/java/org/donggle/backend/application/WritingService.java
  backend/src/main/java/org/donggle/backend/application/repository/BlogWritingRepository.java
  backend/src/main/java/org/donggle/backend/application/service/PublishService.java
  backend/src/main/java/org/donggle/backend/domain/BlogWriting.java
  backend/src/main/java/org/donggle/backend/domain/Writing.java
  backend/src/main/java/org/donggle/backend/dto/WritingPropertiesResponse.java
  backend/src/main/java/org/donggle/backend/dto/WritingResponse.java
  backend/src/main/java/org/donggle/backend/ui/WritingController.java
Labels: 🛠️ refactor, 🕋 backend, 🌟 feature

#84 [BE] refactor: 글 발행 API 리펙토링
  backend/src/main/java/org/donggle/backend/application/WritingService.java
  backend/src/main/java/org/donggle/backend/application/repository/BlogRepository.java
  backend/src/main/java/org/donggle/backend/application/service/PublishService.java
  backend/src/main/java/org/donggle/backend/application/service/medium/MediumApiService.java
  backend/src/main/java/org/donggle/backend/application/service/medium/exception/MediumBadRequestException.java
  backend/src/main/java/org/donggle/backend/application/service/medium/exception/MediumException.java
  backend/src/main/java/org/donggle/backend/application/service/medium/exception/MediumForbiddenException.java
  backend/src/main/java/org/donggle/backend/application/service/medium/exception/MediumInternalServerError.java
  backend/src/main/java/org/donggle/backend/application/service/medium/exception/MediumUnAuthorizedException.java
  backend/src/main/java/org/donggle/backend/domain/Blog.java
  backend/src/main/java/org/donggle/backend/dto/PublishedDetailResponse.java
Labels: 🛠️ refactor, 🕋 backend

#88 [FE] feat: 업로드 성공 시 `WritingViewer`를 보여주는 기능 구현
  frontend/package.json
  frontend/src/hooks/@common/useMutation.ts
  frontend/src/hooks/useFileUpload.ts
  frontend/src/index.tsx
  frontend/src/mocks/handlers/writing.ts
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/WritingPage/WritingPage.tsx
  frontend/src/routes/Router.tsx
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: 🖥️ frontend, 🌟 feature

#68 [All] chore: 동글 CI/CD 구축
  .github/workflows/cicd-be-dev.yml
  .github/workflows/cicd-be-prod.yml
  .github/workflows/cicd-fe-dev.yml
  .github/workflows/cicd-fe-prod.yml
  backend/Dockerfile-dev
  backend/Dockerfile-prod
  conf/nginx.conf
  docker-compose-dev.yml
  frontend/.dockerignore
  frontend/Dockerfile-dev
  frontend/default.conf
Labels: 🧱 infra, 🕋 backend, 🖥️ frontend

#91 [BE] refactor: test코드 수정
  backend/src/test/java/org/donggle/backend/domain/renderer/html/HtmlRendererTest.java
Labels: 🛠️ refactor, 🕋 backend

#93 [FE] feat: 2차 데모데이 프론트엔드 - 백엔드 연동 테스트를 위한 webpack 설정 수정
  frontend/.eslintrc
  frontend/package.json
  frontend/src/constants/apis/url.ts
  frontend/src/index.tsx
  frontend/webpack.common.js
  frontend/webpack.dev.js
  frontend/webpack.prod.js
Labels: ⚙️ setting, 🖥️ frontend

#94 [BE] feat: db 초기 데이터 삽입 기능 구현
  backend/src/main/java/org/donggle/backend/config/InitData.java
  backend/src/main/java/org/donggle/backend/domain/blog/Blog.java
Labels: 🕋 backend, 🌟 feature

#98 [BE] refactor: MarkDown parser 리팩터링
  backend/src/main/java/org/donggle/backend/domain/parser/markdown/MarkDownStyleParser.java
  backend/src/test/java/org/donggle/backend/domain/parser/MarkDownStyleParserTest.java
Labels: 🛠️ refactor, 🕋 backend

#105 [FE] fix: `Layout` 관련 스타일 분리 및 2차 데모데이 대비 hotfix
  frontend/src/App.tsx
  frontend/src/apis/writings.ts
  frontend/src/components/WritingViewer/WritingViewer.tsx
  frontend/src/constants/apis/url.ts
  frontend/src/hooks/useFileUpload.ts
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/WritingPage/WritingPage.tsx
  frontend/src/styles/layoutStyle.ts
Labels: 🐞 bug, 🎨 UI, 🛠️ refactor, 🖥️ frontend

#107 [FE] chore: `react-testing-library` 설치 및 설정
  frontend/.babelrc.json
  frontend/.eslintrc
  frontend/__tests__/hello.tsx
  frontend/jest.config.js
  frontend/package.json
  frontend/src/mocks/svg.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: ⚙️ setting, 🖥️ frontend

#115 [BE] 마크다운 Parser 기능 추가 구현
  backend/src/main/java/org/donggle/backend/domain/parser/markdown/MarkDownParser.java
  backend/src/main/java/org/donggle/backend/domain/parser/markdown/MarkDownStyleParser.java
  backend/src/main/java/org/donggle/backend/domain/renderer/html/HtmlRenderer.java
  backend/src/main/java/org/donggle/backend/domain/writing/BlockType.java
  backend/src/main/java/org/donggle/backend/domain/writing/StyleType.java
  backend/src/main/java/org/donggle/backend/domain/writing/content/CodeBlockContent.java
  backend/src/main/java/org/donggle/backend/domain/writing/content/ImageCaption.java
  backend/src/main/java/org/donggle/backend/domain/writing/content/ImageContent.java
  backend/src/main/java/org/donggle/backend/domain/writing/content/ImageUrl.java
  backend/src/main/java/org/donggle/backend/domain/writing/content/Language.java
  backend/src/main/java/org/donggle/backend/domain/writing/content/RawText.java
  backend/src/test/java/org/donggle/backend/domain/parser/MarkDownParserTest.java
  backend/src/test/java/org/donggle/backend/domain/parser/MarkDownStyleParserTest.java
  backend/src/test/java/org/donggle/backend/domain/renderer/html/HtmlRendererTest.java
Labels: 🛠️ refactor, 🕋 backend, 🌟 feature

#118 [FE] feat: `Tag` 컴포넌트 구현
  frontend/src/assets/icons/close-rounded.svg
  frontend/src/assets/icons/index.ts
  frontend/src/components/@common/Tag/Tag.stories.tsx
  frontend/src/components/@common/Tag/Tag.tsx
Labels: 🎨 UI, 🖥️ frontend, 🌟 feature

#113 [FE] feat: `WritingTable`, `WritingTablePage` 구현
  frontend/.storybook/preview.tsx
  frontend/package.json
  frontend/src/apis/writings.ts
  frontend/src/assets/icons/index.ts
  frontend/src/assets/icons/medium-logo.svg
  frontend/src/assets/icons/tistory-logo.svg
  frontend/src/components/WritingTable/WritingTable.stories.tsx
  frontend/src/components/WritingTable/WritingTable.tsx
  frontend/src/hooks/usePageNavigate.ts
  frontend/src/mocks/handlers/writing.ts
  frontend/src/mocks/writingTableMock.ts
  frontend/src/pages/WritingTablePage/WritingTablePage.tsx
  frontend/src/routes/Router.tsx
  frontend/src/types/apis/writings.ts
  frontend/src/utils/date.ts
  frontend/yarn.lock
Labels: ⚙️ setting, 🎨 UI, 🖥️ frontend, 🌟 feature

#121 [FE] feat: 발행 정보 입력 section 구현
  frontend/src/assets/icons/index.ts
  frontend/src/assets/icons/left-arrow-head.svg
  frontend/src/assets/icons/tag.svg
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/components/@common/TagInput/TagInput.stories.ts
  frontend/src/components/@common/TagInput/TagInput.tsx
  frontend/src/components/@common/TagInput/useTagInput.ts
  frontend/src/components/PublishingPropertySection/PublishingPropertySection.stories.tsx
  frontend/src/components/PublishingPropertySection/PublishingPropertySection.tsx
  frontend/src/styles/animation.ts
  frontend/src/styles/storybook.ts
  frontend/src/styles/theme.ts
Labels: 🎨 UI, 🖥️ frontend, 🌟 feature

#124 [BE] feat: NotionParser 및 API 구현
  .github/workflows/deploy.yml
  backend/src/main/java/org/donggle/backend/application/service/WritingService.java
  backend/src/main/java/org/donggle/backend/application/service/notion/NotionApiService.java
  backend/src/main/java/org/donggle/backend/application/service/notion/NotionBlockNode.java
  backend/src/main/java/org/donggle/backend/application/service/notion/exception/NotionException.java
  backend/src/main/java/org/donggle/backend/application/service/notion/exception/NotionForbiddenException.java
  backend/src/main/java/org/donggle/backend/application/service/notion/exception/NotionInvalidRequestException.java
  backend/src/main/java/org/donggle/backend/application/service/notion/exception/NotionNotFoundException.java
  backend/src/main/java/org/donggle/backend/application/service/notion/exception/NotionUnAuthorizedException.java
  backend/src/main/java/org/donggle/backend/application/service/request/NotionUploadRequest.java
  backend/src/main/java/org/donggle/backend/domain/parser/notion/Annotations.java
  backend/src/main/java/org/donggle/backend/domain/parser/notion/BookmarkParser.java
  backend/src/main/java/org/donggle/backend/domain/parser/notion/CalloutParser.java
  backend/src/main/java/org/donggle/backend/domain/parser/notion/CodeBlockParser.java
  backend/src/main/java/org/donggle/backend/domain/parser/notion/DefaultBlockParser.java
  backend/src/main/java/org/donggle/backend/domain/parser/notion/HeadingParser.java
  backend/src/main/java/org/donggle/backend/domain/parser/notion/ImageParser.java
  backend/src/main/java/org/donggle/backend/domain/parser/notion/NotionBlockType.java
  backend/src/main/java/org/donggle/backend/domain/parser/notion/NotionNormalBlockParser.java
  backend/src/main/java/org/donggle/backend/domain/parser/notion/NotionParser.java
  backend/src/main/java/org/donggle/backend/domain/parser/notion/RichText.java
  backend/src/main/java/org/donggle/backend/ui/WritingController.java
  backend/src/main/resources/application-prod.yaml
  backend/src/main/resources/application.yaml
  backend/src/test/java/org/donggle/backend/domain/parser/MarkDownParserTest.java
  backend/src/test/java/org/donggle/backend/domain/parser/MarkDownStyleParserTest.java
  docker-compose.yml
Labels: 🕋 backend, 🌟 feature

#120 [FE] feat: `Header` 컴포넌트 구현
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/assets/icons/index.ts
  frontend/src/assets/icons/setting.svg
  frontend/src/assets/icons/sidebar-left.svg
  frontend/src/assets/icons/sidebar-right.svg
  frontend/src/components/Header/Header.tsx
  frontend/src/components/WritingTable/WritingTable.tsx
  frontend/src/mocks/writingTableMock.ts
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/WritingPage/WritingPage.tsx
  frontend/src/pages/WritingTablePage/WritingTablePage.tsx
  frontend/src/styles/layoutStyle.ts
  frontend/yarn.lock
Labels: 🎨 UI, 🌟 feature
