Repository woowacourse-teams/2023-dong-gle, pull requests merged in 2023-08, with the labels that each got.

#136 [BE] feat: 글 제목 수정 기능 구현
  backend/src/main/java/org/donggle/backend/application/service/WritingService.java
  backend/src/main/java/org/donggle/backend/application/service/request/WritingTitleRequest.java
  backend/src/main/java/org/donggle/backend/config/InitData.java
  backend/src/main/java/org/donggle/backend/domain/writing/Writing.java
  backend/src/main/java/org/donggle/backend/ui/WritingController.java
  backend/src/test/java/org/donggle/backend/application/service/WritingServiceTest.java
Labels: 🕋 backend, 🌟 feature

#145 [BE] feat: 카테고리 기능 구현
  backend/src/main/java/org/donggle/backend/application/repository/CategoryRepository.java
  backend/src/main/java/org/donggle/backend/application/repository/WritingRepository.java
  backend/src/main/java/org/donggle/backend/application/service/CategoryService.java
  backend/src/main/java/org/donggle/backend/application/service/WritingService.java
  backend/src/main/java/org/donggle/backend/application/service/request/CategoryAddRequest.java
  backend/src/main/java/org/donggle/backend/application/service/request/CategoryModifyRequest.java
  backend/src/main/java/org/donggle/backend/application/service/request/MarkdownUploadRequest.java
  backend/src/main/java/org/donggle/backend/application/service/request/NotionUploadRequest.java
  backend/src/main/java/org/donggle/backend/config/InitData.java
  backend/src/main/java/org/donggle/backend/domain/category/Category.java
  backend/src/main/java/org/donggle/backend/domain/category/CategoryName.java
  backend/src/main/java/org/donggle/backend/domain/writing/Writing.java
  backend/src/main/java/org/donggle/backend/exception/business/InvalidBasicCategoryException.java
  backend/src/main/java/org/donggle/backend/exception/notfound/CategoryNotFoundException.java
  backend/src/main/java/org/donggle/backend/ui/CategoryController.java
  backend/src/main/java/org/donggle/backend/ui/WritingController.java
  backend/src/main/java/org/donggle/backend/ui/response/CategoryListResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/CategoryResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/CategoryWritingsResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/WritingDetailResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/WritingListWithCategoryResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/WritingSimpleResponse.java
  backend/src/test/java/org/donggle/backend/application/service/CategoryServiceTest.java
  backend/src/test/java/org/donggle/backend/application/service/WritingServiceTest.java
  backend/src/test/java/org/donggle/backend/domain/renderer/html/HtmlRendererTest.java
  backend/src/test/java/org/donggle/backend/domain/writing/BlockTest.java
Labels: 🕋 backend, 🌟 feature

#147 [FE] chore: 프론트엔드 환경변수(`.env`, `cross-env`) 설정
  .github/workflows/cicd-fe.yml
  frontend/.gitignore
  frontend/Dockerfile
  frontend/package.json
  frontend/src/constants/apis/url.ts
  frontend/src/index.tsx
  frontend/src/types/global.d.ts
  frontend/webpack.dev.js
  frontend/yarn.lock
Labels: ⚙️ setting, 🧱 infra, 🖥️ frontend

#138 [FE] feat: `WritingSideBar` 컴포넌트 구현 및 분리
  frontend/src/assets/icons/index.ts
  frontend/src/assets/icons/info.svg
  frontend/src/assets/icons/publishing.svg
  frontend/src/components/@common/TagInput/TagInput.tsx
  frontend/src/components/@common/TagInput/useTagInput.ts
  frontend/src/components/WritingSideBar/WritingSideBar.stories.tsx
  frontend/src/components/WritingSideBar/WritingSideBar.tsx
  frontend/src/components/WritingSideBar/useCurrentTab.ts
  frontend/src/pages/.gitkeep
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/WritingPage/WritingPage.tsx
  frontend/src/utils/.gitkeep
Labels: 🎨 UI, 🖥️ frontend, 🌟 feature

#149 fix: `cicd-fe.yml` 환경변수파일`.env.development` 생성 스크립트 수정
  .github/workflows/cicd-fe.yml
Labels: 🐞 bug, ⚙️ setting, 🧱 infra, 🖥️ frontend

#140 [FE] feat: 글 정보 섹션 `WritingPropertySection` 구현
  frontend/src/components/WritingPropertySection/WritingPropertySection.stories.tsx
  frontend/src/components/WritingPropertySection/WritingPropertySection.tsx
  frontend/src/mocks/handlers/writing.ts
  frontend/src/types/apis/writings.ts
  frontend/src/utils/date.ts
Labels: 🎨 UI, 🖥️ frontend, 🌟 feature

#141 [BE] test: NotionParser 테스트코드 추가
  backend/src/main/java/org/donggle/backend/domain/parser/notion/Annotations.java
  backend/src/main/java/org/donggle/backend/domain/parser/notion/RichText.java
  backend/src/test/java/org/donggle/backend/domain/parser/notion/AnnotationsTest.java
  backend/src/test/java/org/donggle/backend/domain/parser/notion/BookmarkParserTest.java
  backend/src/test/java/org/donggle/backend/domain/parser/notion/CalloutParserTest.java
  backend/src/test/java/org/donggle/backend/domain/parser/notion/CodeBlockParserTest.java
  backend/src/test/java/org/donggle/backend/domain/parser/notion/DefaultBlockParserTest.java
  backend/src/test/java/org/donggle/backend/domain/parser/notion/HeadingParserTest.java
  backend/src/test/java/org/donggle/backend/domain/parser/notion/ImageParserTest.java
  backend/src/test/java/org/donggle/backend/domain/parser/notion/NotionBlockJsonBuilder.java
  backend/src/test/java/org/donggle/backend/domain/parser/notion/NotionBlockTypeTest.java
  backend/src/test/java/org/donggle/backend/domain/parser/notion/NotionParserTest.java
  backend/src/test/java/org/donggle/backend/domain/parser/notion/RichTextTest.java
Labels: 🧪 test, 🕋 backend

#144 [BE] 티스토리로 글을 발행하는 API 기능 구현
  backend/src/main/java/org/donggle/backend/application/repository/MemberCredentialsRepository.java
  backend/src/main/java/org/donggle/backend/application/service/PublishService.java
  backend/src/main/java/org/donggle/backend/application/service/WritingService.java
  backend/src/main/java/org/donggle/backend/application/service/medium/MediumApiService.java
  backend/src/main/java/org/donggle/backend/application/service/medium/dto/request/MediumPublishRequest.java
  backend/src/main/java/org/donggle/backend/application/service/medium/dto/request/MediumRequestBody.java
  backend/src/main/java/org/donggle/backend/application/service/medium/dto/request/MediumRequestHeader.java
  backend/src/main/java/org/donggle/backend/application/service/notion/NotionApiService.java
  backend/src/main/java/org/donggle/backend/application/service/request/PublishRequest.java
  backend/src/main/java/org/donggle/backend/application/service/tistory/TistoryApiService.java
  backend/src/main/java/org/donggle/backend/application/service/tistory/TistoryTagsDeserializer.java
  backend/src/main/java/org/donggle/backend/application/service/tistory/request/TistoryPublishPropertyRequest.java
  backend/src/main/java/org/donggle/backend/application/service/tistory/request/TistoryPublishRequest.java
  backend/src/main/java/org/donggle/backend/application/service/tistory/request/TistoryPublishWritingDataRequest.java
  backend/src/main/java/org/donggle/backend/application/service/tistory/response/TistoryPublishStatusDataResponse.java
  backend/src/main/java/org/donggle/backend/application/service/tistory/response/TistoryPublishStatusResponse.java
  backend/src/main/java/org/donggle/backend/application/service/tistory/response/TistoryPublishWritingDataResponse.java
  backend/src/main/java/org/donggle/backend/application/service/tistory/response/TistoryPublishWritingResponse.java
  backend/src/main/java/org/donggle/backend/application/service/tistory/response/TistoryResponse.java
  backend/src/main/java/org/donggle/backend/application/service/tistory/response/TistoryTags.java
  backend/src/main/java/org/donggle/backend/domain/member/Member.java
  backend/src/main/java/org/donggle/backend/domain/member/MemberCredentials.java
  backend/src/test/java/org/donggle/backend/application/service/tistory/TistoryApiServiceTest.java
Labels: 🕋 backend, 🌟 feature

#126 [FE] feat: 카테고리 컴포넌트 구현
  frontend/src/apis/category.ts
  frontend/src/assets/icons/delete.svg
  frontend/src/assets/icons/index.ts
  frontend/src/assets/icons/pencil.svg
  frontend/src/assets/icons/writing.svg
  frontend/src/components/Category/Category/Category.stories.tsx
  frontend/src/components/Category/Category/Category.tsx
  frontend/src/components/Category/CategorySection/CategorySection.stories.tsx
  frontend/src/components/Category/CategorySection/CategorySection.tsx
  frontend/src/components/Category/CategorySection/useCategoryDetails.ts
  frontend/src/components/Category/CategorySection/useCategoryWritings.ts
  frontend/src/components/Category/WritingList/WritingList.stories.tsx
  frontend/src/components/Category/WritingList/WritingList.tsx
  frontend/src/components/Category/useCategoryInput.ts
  frontend/src/components/Category/useCategoryMutation.ts
  frontend/src/constants/apis/url.ts
  frontend/src/mocks/categoryContentsMock.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/handlers/category.ts
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/types/apis/category.ts
  frontend/src/types/components/category.ts
Labels: 🎨 UI, 🖥️ frontend, 🌟 feature

#157 [FE] chore: 글로벌 폰트 추가
  frontend/.storybook/preview-head.html
  frontend/public/index.html
  frontend/src/styles/GlobalStyle.tsx
Labels: ⚙️ setting, 🖥️ frontend

#154 [FE] feat: WritingSideBar 로직 변경 및 구현
  frontend/src/components/@common/TagInput/TagInput.tsx
  frontend/src/components/BlogPublishButtonItem/BlogPublishButtonItem.stories.tsx
  frontend/src/components/BlogPublishButtonItem/BlogPublishButtonItem.tsx
  frontend/src/components/PublishingPropertySection/PublishingPropertySection.stories.tsx
  frontend/src/components/PublishingPropertySection/PublishingPropertySection.tsx
  frontend/src/components/PublishingPropertySection/usePublishingPropertySection.ts
  frontend/src/components/PublishingSection/PublishingSection.stories.tsx
  frontend/src/components/PublishingSection/PublishingSection.tsx
  frontend/src/components/WritingPropertySection/WritingPropertySection.tsx
  frontend/src/components/WritingSideBar/WritingSideBar.stories.tsx
  frontend/src/components/WritingSideBar/WritingSideBar.tsx
  frontend/src/components/WritingSideBar/useCurrentTab.ts
  frontend/src/mocks/handlers/writing.ts
  frontend/src/styles/theme.ts
  frontend/src/types/apis/writings.ts
  frontend/src/types/domain.ts
Labels: 🖥️ frontend, 🌟 feature

#158 [BE] feat: 글 순서 및 카테고리 순서 수정 기능 구현
  backend/src/main/java/org/donggle/backend/application/repository/WritingRepository.java
  backend/src/main/java/org/donggle/backend/application/service/CategoryService.java
  backend/src/main/java/org/donggle/backend/application/service/WritingService.java
  backend/src/main/java/org/donggle/backend/application/service/request/CategoryModifyRequest.java
  backend/src/main/java/org/donggle/backend/application/service/request/WritingModifyRequest.java
  backend/src/main/java/org/donggle/backend/application/service/request/WritingTitleRequest.java
  backend/src/main/java/org/donggle/backend/config/InitData.java
  backend/src/main/java/org/donggle/backend/domain/category/Category.java
  backend/src/main/java/org/donggle/backend/domain/writing/Writing.java
  backend/src/main/java/org/donggle/backend/ui/CategoryController.java
  backend/src/main/java/org/donggle/backend/ui/WritingController.java
  backend/src/main/java/org/donggle/backend/ui/response/CategoryListResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/CategoryResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/CategoryWritingsResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/PublishedDetailResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/WritingDetailResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/WritingListWithCategoryResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/WritingPropertiesResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/WritingResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/WritingSimpleResponse.java
  backend/src/test/java/org/donggle/backend/application/service/CategoryServiceTest.java
  backend/src/test/java/org/donggle/backend/application/service/WritingServiceTest.java
  backend/src/test/java/org/donggle/backend/domain/renderer/html/HtmlRendererTest.java
  backend/src/test/java/org/donggle/backend/domain/writing/BlockTest.java
Labels: 🕋 backend, 🌟 feature

#162 [BE] fix: git merge 충돌 오류 해결
  backend/src/main/java/org/donggle/backend/application/service/WritingService.java
  backend/src/test/java/org/donggle/backend/application/service/tistory/TistoryApiServiceTest.java
Labels: 🐞 bug, 🕋 backend

#165 [BE] feat: StyleType Link HTML Render 기능 추가
  backend/src/main/java/org/donggle/backend/domain/parser/markdown/MarkDownStyleParser.java
  backend/src/main/java/org/donggle/backend/domain/parser/notion/BookmarkParser.java
  backend/src/main/java/org/donggle/backend/domain/parser/notion/RichText.java
  backend/src/main/java/org/donggle/backend/domain/renderer/html/HtmlStyleRenderer.java
  backend/src/main/java/org/donggle/backend/domain/renderer/html/HtmlStyleType.java
  backend/src/test/java/org/donggle/backend/domain/parser/MarkDownStyleParserTest.java
  backend/src/test/java/org/donggle/backend/domain/parser/notion/BookmarkParserTest.java
  backend/src/test/java/org/donggle/backend/domain/parser/notion/DefaultBlockParserTest.java
  backend/src/test/java/org/donggle/backend/domain/renderer/html/HtmlStyleRendererTest.java
Labels: 🕋 backend, 🌟 feature

#164 [FE] fix: styled components props 네이밍 문제 해결, cicd 수정
  .github/workflows/cicd-fe.yml
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/WritingPage/WritingPage.tsx
  frontend/src/pages/WritingTablePage/WritingTablePage.tsx
Labels: 🧱 infra, 🎨 UI, 🖥️ frontend

#168 [BE] fix: WritingService 버그 픽스 및 Render 수정
  backend/src/main/java/org/donggle/backend/application/service/WritingService.java
  backend/src/main/java/org/donggle/backend/domain/renderer/html/HtmlStyleRenderer.java
  backend/src/main/java/org/donggle/backend/domain/renderer/html/HtmlStyleType.java
  backend/src/test/java/org/donggle/backend/domain/renderer/html/HtmlStyleRendererTest.java
Labels: 🐞 bug, 🕋 backend

#176 [BE] fix: 클라이언트 요청 오류에 대한 예외 처리 기능 추가
  backend/src/main/java/org/donggle/backend/application/service/request/CategoryAddRequest.java
  backend/src/main/java/org/donggle/backend/application/service/request/PublishRequest.java
  backend/src/main/java/org/donggle/backend/application/service/request/WritingModifyRequest.java
  backend/src/main/java/org/donggle/backend/ui/CategoryController.java
  backend/src/main/java/org/donggle/backend/ui/WritingController.java
  backend/src/main/java/org/donggle/backend/ui/common/GlobalExceptionHandler.java
Labels: 🐞 bug, 🕋 backend

#178 [BE] feat: Swagger 의존성 추가
  backend/build.gradle
Labels: 📄 docs, 🕋 backend

#174 [FE] feat: `Input` 컴포넌트 구현
  frontend/src/components/@common/Input/Input.stories.tsx
  frontend/src/components/@common/Input/Input.tsx
  frontend/src/styles/theme.ts
Labels: 🎨 UI, 🖥️ frontend, 🌟 feature

#181 [BE] fix: HttpMediaTypeNotSupportedException Handler 추가
  backend/src/main/java/org/donggle/backend/ui/common/GlobalExceptionHandler.java
Labels: 🐞 bug, 🕋 backend

#166 [FE] feat: `Notion`으로 부터 업로드 할 수 있는 기능 구현
  frontend/src/apis/category.ts
  frontend/src/apis/writings.ts
  frontend/src/assets/icons/import.svg
  frontend/src/assets/icons/index.ts
  frontend/src/components/@common/FileUploader/FileUploader.stories.tsx
  frontend/src/components/@common/FileUploader/FileUploader.tsx
  frontend/src/components/@common/Input/Input.tsx
  frontend/src/components/@common/Modal/Modal.stories.tsx
  frontend/src/components/@common/Modal/Modal.tsx
  frontend/src/components/@common/Tag/Tag.tsx
  frontend/src/components/FileUploadModal/FileUploadModal.tsx
  frontend/src/components/FileUploadModal/useFileUploadModal.ts
  frontend/src/hooks/@common/useFileDragAndDrop.ts
  frontend/src/hooks/@common/useModal.ts
  frontend/src/hooks/useFileUpload.ts
  frontend/src/mocks/handlers/writing.ts
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/styles/layoutStyle.ts
  frontend/src/styles/theme.ts
  frontend/src/types/apis/writings.ts
Labels: 🖥️ frontend, 🌟 feature

#185 [BE] fix: 카테고리 오류 수정 및 개발 환경 수정
  backend/src/main/java/org/donggle/backend/application/service/CategoryService.java
  backend/src/main/java/org/donggle/backend/application/service/WritingService.java
  backend/src/main/java/org/donggle/backend/domain/writing/content/RawText.java
  backend/src/main/resources/application-prod.yaml
  backend/src/test/java/org/donggle/backend/application/service/CategoryServiceTest.java
Labels: 🐞 bug, 🕋 backend

#183 [BE] feat: PROD용 서버 설정 변경
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy.yml
  backend/Dockerfile
  docker-compose.yml
Labels: 🧱 infra, 🕋 backend

#184 [FE] 카테고리 API 요청 버그 수정
  frontend/src/apis/category.ts
  frontend/src/components/Category/Category/Category.stories.tsx
  frontend/src/components/Category/Category/Category.tsx
  frontend/src/components/Category/CategorySection/CategorySection.tsx
  frontend/src/components/Category/CategorySection/useCategoryWritings.ts
  frontend/src/components/Category/WritingList/WritingList.tsx
  frontend/src/components/Category/useCategoryInput.ts
  frontend/src/hooks/@common/useGetQuery.ts
  frontend/src/mocks/handlers/category.ts
  frontend/src/pages/WritingTablePage/WritingTablePage.tsx
Labels: 🐞 bug, 🛠️ refactor, 🖥️ frontend

#187 [FE] feat: `WritingTableView`에서 글 추가 시 해당 카테고리로 추가되도록 구현
  frontend/src/components/FileUploadModal/FileUploadModal.tsx
  frontend/src/components/FileUploadModal/useFileUploadModal.ts
  frontend/src/components/WritingPropertySection/WritingPropertySection.tsx
  frontend/webpack.common.js
Labels: ⚙️ setting, 🛠️ refactor, 🖥️ frontend, 🌟 feature

#198 [FE] chore: 프론트엔드 배포서버 CI/CD 스크립트 작성, 웹팩 설정 추가
  .github/workflows/cicd-fe-prod.yml
  frontend/Dockerfile-prod
  frontend/webpack.common.js
  frontend/webpack.dev.js
  frontend/webpack.prod.js
Labels: ⚙️ setting, 🧱 infra, 🖥️ frontend

#200 [FE] chore: frontend 브랜치별 docker 이미지 분리
  .github/workflows/cicd-fe-prod.yml
  .github/workflows/cicd-fe.yml
  docker-compose.yml
Labels: 🖥️ frontend

#202 [FE] fix: 배포 webpack 설정 변경
  frontend/package.json
  frontend/webpack.common.js
Labels: ⚙️ setting, 🖥️ frontend

#194 [FE] design: 전체 스타일 개선 및 스타일드 컴포넌트 버그 수정
  frontend/src/components/@common/Spinner/Spinner.tsx
  frontend/src/components/WritingViewer/WritingViewer.tsx
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/styles/layoutStyle.ts
Labels: 🐞 bug, 🛠️ refactor, 🖥️ frontend

#196 [FE] feat: 카테고리 제목 유효성 검사 로직 추가
  frontend/src/components/Category/Category/Category.tsx
  frontend/src/components/Category/CategorySection/CategorySection.tsx
  frontend/src/components/Category/isValidCategoryName.ts
  frontend/src/components/Category/useCategoryInput.ts
Labels: 🐞 bug, 🛠️ refactor, 🖥️ frontend

#192 [FE] feat: 시각장애인을 위해 글 추가, 카테고리, 글 발행 웹 접근성 관련 코드 추가
  frontend/public/index.html
  frontend/src/components/@common/Accordion/AccordionTitle.tsx
  frontend/src/components/@common/Modal/Modal.tsx
  frontend/src/components/@common/TagInput/TagInput.tsx
  frontend/src/components/Category/Category/Category.tsx
  frontend/src/components/Category/CategorySection/CategorySection.tsx
  frontend/src/components/Category/WritingList/WritingList.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/PublishingPropertySection/PublishingPropertySection.tsx
  frontend/src/components/PublishingPropertySection/usePublishingPropertySection.ts
  frontend/src/components/PublishingSection/PublishingSection.tsx
  frontend/src/components/WritingPropertySection/WritingPropertySection.tsx
  frontend/src/components/WritingSideBar/WritingSideBar.tsx
  frontend/src/components/WritingTable/WritingTable.tsx
  frontend/src/components/WritingViewer/WritingViewer.tsx
  frontend/src/mocks/categoryContentsMock.ts
  frontend/src/mocks/writingTableMock.ts
  frontend/src/pages/Layout/Layout.tsx
Labels: 🖥️ frontend, 🌟 feature

#204 [FE] design: 카테고리 스타일 수정
  frontend/src/components/Category/CategorySection/CategorySection.tsx
  frontend/src/components/Category/WritingList/WritingList.tsx
Labels: 🎨 UI, 🖥️ frontend

#206 [FE] fix: 글 정보가 새로 reload 되지 않는 현상 수정
  frontend/src/components/WritingPropertySection/WritingPropertySection.tsx
  frontend/src/components/WritingSideBar/WritingSideBar.stories.tsx
  frontend/src/components/WritingSideBar/WritingSideBar.tsx
  frontend/src/pages/Layout/Layout.tsx
Labels: 🐞 bug, 🖥️ frontend

#228 [BE] feat: 카카오 OAuth 로그인 연동
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy.yml
  backend/src/main/java/org/donggle/backend/application/repository/MemberRepository.java
  backend/src/main/java/org/donggle/backend/application/service/AuthService.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/kakao/KakaoOAuthService.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/kakao/dto/KakaoAccountResponse.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/kakao/dto/KakaoProfileResponse.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/kakao/dto/KakaoTokenResponse.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/kakao/dto/ProfileResponse.java
  backend/src/main/java/org/donggle/backend/application/service/request/OAuthAccessTokenRequest.java
  backend/src/main/java/org/donggle/backend/domain/member/Member.java
  backend/src/main/java/org/donggle/backend/ui/KakaoOAuthController.java
  backend/src/main/resources/application-prod.yaml
  backend/src/main/resources/application.yaml
  docker-compose.yml
Labels: 🕋 backend, 🌟 feature

#231 [BE] chore: gradle test에 환경변수 추가
  .github/workflows/cicd-be-prod.yml
  .github/workflows/cicd-be.yml
Labels: 🐞 bug, 🧱 infra, 🕋 backend

#226 [FE] refactor: `react-query` 마이그레이션 및 fetch 추상화, Custom HttpError 추가
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/apis/category.ts
  frontend/src/apis/fetch.ts
  frontend/src/apis/writings.ts
  frontend/src/components/Category/Category/Category.stories.tsx
  frontend/src/components/Category/Category/Category.tsx
  frontend/src/components/Category/CategorySection/CategorySection.tsx
  frontend/src/components/Category/CategorySection/useCategoryDetails.ts
  frontend/src/components/Category/CategorySection/useCategoryWritings.ts
  frontend/src/components/Category/useCategoryMutation.ts
  frontend/src/components/ErrorBoundary/ErrorBoundary.tsx
  frontend/src/components/FileUploadModal/useFileUploadModal.ts
  frontend/src/components/PublishingPropertySection/usePublishingPropertySection.ts
  frontend/src/components/WritingPropertySection/WritingPropertySection.tsx
  frontend/src/components/WritingViewer/WritingViewer.tsx
  frontend/src/constants/apis/http.ts
  frontend/src/hooks/@common/useGetQuery.ts
  frontend/src/hooks/@common/useMutation.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/handlers/error.ts
  frontend/src/mocks/handlers/writing.ts
  frontend/src/mocks/writingTableMock.ts
  frontend/src/pages/WritingTablePage/WritingTablePage.tsx
  frontend/src/routes/Router.tsx
  frontend/src/types/apis/writings.ts
  frontend/src/utils/apis/HttpError.ts
  frontend/yarn.lock
Labels: ⚙️ setting, 🛠️ refactor, 🖥️ frontend, 🌟 feature

#234 [FE] fix: category icon click 버그 수정
  frontend/src/assets/icons/index.ts
  frontend/src/assets/icons/plus.svg
  frontend/src/components/Category/Category/Category.tsx
  frontend/src/components/Category/CategorySection/CategorySection.tsx
  frontend/src/components/Category/useCategoryInput.ts
Labels: 🐞 bug, 🖥️ frontend

#236 [FE] refactor: `categories`, `writings` 분리
  frontend/src/components/Category/CategorySection/CategorySection.tsx
  frontend/src/components/Category/CategorySection/useCategoryDetails.ts
  frontend/src/components/Category/CategorySection/useCategoryWritings.ts
  frontend/src/components/Category/Header/Header.tsx
  frontend/src/components/Category/Item/Item.tsx
  frontend/src/components/Category/List/List.tsx
  frontend/src/components/Category/List/useCategories.ts
  frontend/src/components/Category/Section/Section.stories.tsx
  frontend/src/components/Category/Section/Section.tsx
  frontend/src/components/Category/WritingList/WritingList.stories.tsx
  frontend/src/components/Category/WritingList/WritingList.tsx
  frontend/src/components/Category/WritingList/useWritings.ts
  frontend/src/components/Category/useCategoryInput.ts
  frontend/src/pages/Layout/Layout.tsx
Labels: 🛠️ refactor, 🖥️ frontend

#244 [BE] feat: Notion OAuth 연동 기능 구현
  .github/workflows/build-be-dev.yml
  .github/workflows/build-be-prod.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  backend/src/main/java/org/donggle/backend/application/service/oauth/notion/NotionOAuthService.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/notion/dto/NotionOwnerResponse.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/notion/dto/NotionTokenRequest.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/notion/dto/NotionTokenResponse.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/notion/dto/NotionUserResponse.java
  backend/src/main/java/org/donggle/backend/ui/ConnectionController.java
  backend/src/main/java/org/donggle/backend/ui/KakaoOAuthController.java
  backend/src/main/java/org/donggle/backend/ui/WritingController.java
  backend/src/main/resources/application-prod.yaml
  backend/src/main/resources/application.yaml
  docker-compose.yml
Labels: 🕋 backend, 🌟 feature

#242 [FE] chore: FE github actions에서 빌드하도록 변경
  .github/workflows/build-fe-dev.yml
  .github/workflows/build-fe-prod.yml
  frontend/Dockerfile
  frontend/Dockerfile-prod
Labels: 🧱 infra, 🖥️ frontend

#250 [BE] fix: `oAuthAccessTokenRequest` 파라미터 네이밍 변경
  backend/src/main/java/org/donggle/backend/application/service/oauth/kakao/KakaoOAuthService.java
  backend/src/main/java/org/donggle/backend/application/service/request/OAuthAccessTokenRequest.java
Labels: 🕋 backend, 🌟 feature

#239 [All] chore: 시멘틱 버저닝
  .github/draft-release.yml
  .github/workflows/semantic-versioning.yml
  frontend/package.json
Labels: ⚙️ setting, 🖥️ frontend

#245 [FE] feat: 글 삭제 기능 구현
  frontend/src/apis/trash.ts
  frontend/src/assets/icons/index.ts
  frontend/src/assets/icons/trash-can.svg
  frontend/src/components/Category/Category/Category.tsx
  frontend/src/components/Category/WritingList/WritingList.tsx
  frontend/src/components/Category/WritingList/useDeleteWritings.ts
  frontend/src/components/DeleteButton/DeleteButton.tsx
  frontend/src/constants/apis/url.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/handlers/trash.ts
Labels: 🖥️ frontend, 🌟 feature

#243 [FE] feat: 글 제목 수정 기능 구현, 파일 업로드 용량 제한
  frontend/src/apis/writings.ts
  frontend/src/components/@common/Input/Input.tsx
  frontend/src/components/Category/WritingList/WritingList.tsx
  frontend/src/components/FileUploadModal/useFileUploadModal.ts
  frontend/src/components/WritingPropertySection/WritingPropertySection.tsx
  frontend/src/components/WritingTable/WritingTable.stories.tsx
  frontend/src/components/WritingTable/WritingTable.tsx
  frontend/src/components/WritingViewer/WritingTitle/WritingTitle.tsx
  frontend/src/components/WritingViewer/WritingViewer.stories.tsx
  frontend/src/components/WritingViewer/WritingViewer.tsx
  frontend/src/hooks/useFileUpload.ts
  frontend/src/hooks/usePageNavigate.ts
  frontend/src/mocks/handlers/writing.ts
  frontend/src/pages/WritingPage/WritingPage.tsx
  frontend/src/pages/WritingTablePage/WritingTablePage.tsx
  frontend/src/routes/Router.tsx
  frontend/src/types/apis/writings.ts
Labels: 🖥️ frontend, 🌟 feature

#261 [FE] test: `cypress`를 이용한 e2e 테스트, CI 추가
  .github/workflows/fe-test-e2e.yml
  frontend/.eslintrc
  frontend/.gitignore
  frontend/cypress.config.ts
  frontend/cypress/e2e/main-page.cy.ts
  frontend/cypress/fixtures/example.json
  frontend/cypress/fixtures/markdown-test.md
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/package.json
  frontend/src/components/@common/FileUploader/FileUploader.tsx
  frontend/src/components/Category/Category/Category.tsx
  frontend/src/components/Category/Header/Header.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: ⚙️ setting, 🧪 test, 🧱 infra, 🖥️ frontend

#233 [FE] feat: OAUTH 로그인 기능
  frontend/src/apis/login.ts
  frontend/src/assets/icons/index.ts
  frontend/src/assets/icons/kakao-login.svg
  frontend/src/components/Login/KakaoLoginButton.tsx
  frontend/src/constants/apis/oauth.ts
  frontend/src/constants/apis/url.ts
  frontend/src/hooks/usePageNavigate.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/handlers/login.ts
  frontend/src/pages/IntroducePage/IntroducePage.tsx
  frontend/src/pages/OauthPage/OauthPage.tsx
  frontend/src/routes/Router.tsx
  frontend/src/types/apis/login.ts
Labels: 🖥️ frontend, 🌟 feature

#256 [BE] feat: JWT 정책 구현
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  backend/build.gradle
  backend/src/main/java/org/donggle/backend/application/repository/TokenRepository.java
  backend/src/main/java/org/donggle/backend/application/service/AuthService.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/kakao/KakaoOAuthService.java
  backend/src/main/java/org/donggle/backend/auth/JwtToken.java
  backend/src/main/java/org/donggle/backend/auth/JwtTokenProvider.java
  backend/src/main/java/org/donggle/backend/auth/JwtTokenService.java
  backend/src/main/java/org/donggle/backend/auth/exception/EmptyAuthorizationHeaderException.java
  backend/src/main/java/org/donggle/backend/auth/exception/InvalidAccessTokenException.java
  backend/src/main/java/org/donggle/backend/auth/exception/NoSuchTokenException.java
  backend/src/main/java/org/donggle/backend/auth/presentation/AuthInterceptor.java
  backend/src/main/java/org/donggle/backend/auth/presentation/RefreshTokenAuthInterceptor.java
  backend/src/main/java/org/donggle/backend/auth/presentation/TokenArgumentResolver.java
  backend/src/main/java/org/donggle/backend/auth/support/AuthenticationPrincipal.java
  backend/src/main/java/org/donggle/backend/auth/support/AuthorizationExtractor.java
  backend/src/main/java/org/donggle/backend/config/InitData.java
  backend/src/main/java/org/donggle/backend/domain/member/Member.java
  backend/src/main/java/org/donggle/backend/ui/KakaoOAuthController.java
  backend/src/main/java/org/donggle/backend/ui/config/WebMvcConfig.java
  backend/src/main/java/org/donggle/backend/ui/response/AccessTokenResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/TokenResponse.java
  backend/src/main/resources/application-prod.yaml
  backend/src/main/resources/application.yaml
  backend/src/test/java/org/donggle/backend/auth/JwtTokenProviderTest.java
  backend/src/test/java/org/donggle/backend/domain/parser/MarkDownParserTest.java
  backend/src/test/java/org/donggle/backend/domain/parser/notion/NotionParserTest.java
  backend/src/test/java/org/donggle/backend/domain/renderer/html/HtmlRendererTest.java
  backend/src/test/java/org/donggle/backend/domain/writing/BlockTest.java
  docker-compose.yml
Labels: 🕋 backend, 🌟 feature

#263 [BE] refactor: 예외 메시지 포맷 수정
  backend/src/main/java/org/donggle/backend/application/service/AuthService.java
  backend/src/main/java/org/donggle/backend/application/service/CategoryService.java
  backend/src/main/java/org/donggle/backend/application/service/WritingService.java
  backend/src/main/java/org/donggle/backend/auth/JwtTokenProvider.java
  backend/src/main/java/org/donggle/backend/auth/exception/AuthorizationHeaderNotFoundException.java
  backend/src/main/java/org/donggle/backend/auth/exception/EmptyAuthorizationHeaderException.java
  backend/src/main/java/org/donggle/backend/auth/exception/ExpiredAccessTokenException.java
  backend/src/main/java/org/donggle/backend/auth/exception/ExpiredRefreshTokenException.java
  backend/src/main/java/org/donggle/backend/auth/exception/InvalidAccessTokenException.java
  backend/src/main/java/org/donggle/backend/auth/exception/InvalidAuthorizationHeaderTypeException.java
  backend/src/main/java/org/donggle/backend/auth/exception/InvalidRefreshTokenException.java
  backend/src/main/java/org/donggle/backend/auth/exception/NoRefreshTokenInCookieException.java
  backend/src/main/java/org/donggle/backend/auth/exception/NoSuchTokenException.java
  backend/src/main/java/org/donggle/backend/auth/exception/RefreshTokenNotFoundException.java
  backend/src/main/java/org/donggle/backend/auth/presentation/AuthInterceptor.java
  backend/src/main/java/org/donggle/backend/auth/presentation/RefreshTokenAuthInterceptor.java
  backend/src/main/java/org/donggle/backend/auth/support/AuthorizationExtractor.java
  backend/src/main/java/org/donggle/backend/exception/authentication/AuthenticationException.java
  backend/src/main/java/org/donggle/backend/exception/business/BusinessException.java
  backend/src/main/java/org/donggle/backend/exception/business/InvalidBasicCategoryException.java
  backend/src/main/java/org/donggle/backend/exception/business/InvalidFileFormatException.java
  backend/src/main/java/org/donggle/backend/exception/notfound/BlogNotFoundException.java
  backend/src/main/java/org/donggle/backend/exception/notfound/CategoryNotFoundException.java
  backend/src/main/java/org/donggle/backend/exception/notfound/MemberNotFoundException.java
  backend/src/main/java/org/donggle/backend/exception/notfound/NotFoundException.java
  backend/src/main/java/org/donggle/backend/exception/notfound/WritingNotFoundException.java
  backend/src/main/java/org/donggle/backend/ui/common/ErrorContent.java
  backend/src/main/java/org/donggle/backend/ui/common/ErrorResponse.java
  backend/src/main/java/org/donggle/backend/ui/common/ErrorWrapper.java
  backend/src/main/java/org/donggle/backend/ui/common/GlobalExceptionHandler.java
Labels: 🛠️ refactor, 🕋 backend

#266 [BE] feat: logout 기능 구현
  backend/src/main/java/org/donggle/backend/application/repository/TokenRepository.java
  backend/src/main/java/org/donggle/backend/application/service/AuthService.java
  backend/src/main/java/org/donggle/backend/auth/JwtTokenProvider.java
  backend/src/main/java/org/donggle/backend/auth/JwtTokenService.java
  backend/src/main/java/org/donggle/backend/auth/RefreshToken.java
  backend/src/main/java/org/donggle/backend/auth/presentation/RefreshTokenAuthInterceptor.java
  backend/src/main/java/org/donggle/backend/ui/AuthController.java
  backend/src/main/java/org/donggle/backend/ui/KakaoOAuthController.java
  backend/src/test/java/org/donggle/backend/auth/RefreshTokenProviderTest.java
Labels: 🕋 backend, 🌟 feature

#269 [BE] feat: 티스토리 블로그 이름 가져오는 기능 구현
  backend/src/main/java/org/donggle/backend/application/service/PublishService.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/TistoryApiService.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/TistoryBlogInfoResponse.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/TistoryBlogInfoResponseWrapper.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/TistoryBlogResponse.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/TistoryBlogStatsResponse.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/request/TistoryPublishRequest.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/request/TistoryPublishWritingDataRequest.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/response/TistoryGetWritingResponse.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/response/TistoryGetWritingResponseWrapper.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/response/TistoryItemResponse.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/response/TistoryPublishStatusResponse.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/response/TistoryPublishWritingResponse.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/response/TistoryPublishWritingResponseWrapper.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/dto/response/TistoryResponse.java
  backend/src/test/java/org/donggle/backend/application/service/tistory/TistoryApiServiceTest.java
Labels: 🕋 backend, 🌟 feature

#274 [FE] feat: `Toast` 컴포넌트 구현
  frontend/.storybook/preview.tsx
  frontend/src/App.tsx
  frontend/src/components/@common/AnimationDiv/AnimationDiv.tsx
  frontend/src/components/@common/Toast/Toast.stories.tsx
  frontend/src/components/@common/Toast/Toast.tsx
  frontend/src/components/@common/Toast/ToastContainer.tsx
  frontend/src/components/PublishingPropertySection/PublishingPropertySection.tsx
  frontend/src/contexts/ToastProvider.tsx
  frontend/src/hooks/@common/useToast.ts
  frontend/src/styles/animation.ts
  frontend/src/styles/theme.ts
  frontend/webpack.common.js
Labels: 🖥️ frontend, 🌟 feature

#287 [FE] chore: `DOMAIN_URL` Actions yml에 추가
  .github/workflows/build-fe-dev.yml
  .github/workflows/build-fe-prod.yml
Labels: 🐞 bug, 🧱 infra, 🖥️ frontend

#275 [BE] feat: MDC 적용 및 CloudWatch 로그백 설정
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  backend/build.gradle
  backend/src/main/java/org/donggle/backend/config/InitDevData.java
  backend/src/main/java/org/donggle/backend/config/InitLocalAndTestData.java
  backend/src/main/java/org/donggle/backend/ui/common/MDCInterceptor.java
  backend/src/main/java/org/donggle/backend/ui/config/WebMvcConfig.java
  backend/src/main/resources/application-prod.yaml
  backend/src/main/resources/application.yaml
  backend/src/main/resources/application.yml
  backend/src/main/resources/logback-spring.xml
Labels: 🛠️ refactor, 🕋 backend, 🌟 feature

#279 [BE] feat: 중복 발행 방지 기능 추가
  backend/src/main/java/org/donggle/backend/application/service/PublishService.java
  backend/src/main/java/org/donggle/backend/domain/blog/BlogWriting.java
  backend/src/main/java/org/donggle/backend/exception/business/WritingAlreadyPublishedException.java
  backend/src/test/java/org/donggle/backend/application/service/PublishServiceTest.java
Labels: 🐞 bug, 🕋 backend

#290 [BE] feat: vendor에서 발생하는 예외 handler추가
  backend/src/main/java/org/donggle/backend/application/service/vendor/exception/VendorApiException.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/exception/VendorApiForbiddenException.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/exception/VendorApiInternalServerError.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/exception/VendorApiNotFoundException.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/exception/VendorApiRequestException.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/exception/VendorApiUnAuthorizedException.java
  backend/src/main/java/org/donggle/backend/ui/common/GlobalExceptionHandler.java
  backend/src/main/java/org/donggle/backend/ui/config/WebMvcConfig.java
Labels: 🕋 backend, 🌟 feature

#288 [BE] feat: 회원의 정보를 저장하는 기능 구현
  backend/src/main/java/org/donggle/backend/application/service/AuthService.java
  backend/src/main/java/org/donggle/backend/application/service/PublishService.java
  backend/src/main/java/org/donggle/backend/application/service/connection/medium/MediumConnectionService.java
  backend/src/main/java/org/donggle/backend/application/service/connection/notion/NotionConnectionService.java
  backend/src/main/java/org/donggle/backend/application/service/connection/notion/dto/NotionOwnerResponse.java
  backend/src/main/java/org/donggle/backend/application/service/connection/notion/dto/NotionTokenRequest.java
  backend/src/main/java/org/donggle/backend/application/service/connection/notion/dto/NotionTokenResponse.java
  backend/src/main/java/org/donggle/backend/application/service/connection/notion/dto/NotionUserResponse.java
  backend/src/main/java/org/donggle/backend/application/service/connection/tistory/TistoryConnectionService.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/notion/NotionOAuthService.java
  backend/src/main/java/org/donggle/backend/application/service/oauth/tistory/TistoryOAuthService.java
  backend/src/main/java/org/donggle/backend/application/service/request/AddTokenRequest.java
  backend/src/main/java/org/donggle/backend/auth/exception/ExpiredAccessTokenException.java
  backend/src/main/java/org/donggle/backend/domain/member/MemberCredentials.java
  backend/src/main/java/org/donggle/backend/exception/authentication/AuthenticationException.java
  backend/src/main/java/org/donggle/backend/ui/AuthController.java
  backend/src/main/java/org/donggle/backend/ui/CategoryController.java
  backend/src/main/java/org/donggle/backend/ui/ConnectionController.java
  backend/src/main/java/org/donggle/backend/ui/KakaoOAuthController.java
  backend/src/main/java/org/donggle/backend/ui/WritingController.java
Labels: 🕋 backend, 🌟 feature

#295 [ALL] chore: 안쓰는 이미지 제거 명령어 추가
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
Labels: 🧱 infra, 🛠️ refactor

#285 [FE] refactor: 전체적인 레이아웃 UI 개선
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/components/Category/WritingList/WritingList.tsx
  frontend/src/components/PublishingSection/PublishingSection.tsx
  frontend/src/components/WritingPropertySection/WritingPropertySection.tsx
  frontend/src/components/WritingViewer/WritingViewer.tsx
  frontend/src/constants/blog.ts
  frontend/src/constants/blog.tsx
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/WritingPage/WritingPage.tsx
  frontend/src/pages/WritingTablePage/WritingTablePage.tsx
  frontend/src/styles/layoutStyle.ts
  frontend/src/styles/theme.ts
Labels: 🎨 UI, 🛠️ refactor, 🖥️ frontend

#297 [BE] refactor: OAuth 로그인 과정 중 예외 처리 로직 추가
  backend/src/main/java/org/donggle/backend/application/service/oauth/kakao/KakaoOAuthService.java
Labels: 🕋 backend, 🌟 feature

#301 [BE] refactor: `logback-spring.xml` 롤링 경로 수정
  backend/src/main/resources/logback-spring.xml
Labels: 🛠️ refactor, 🕋 backend

#303 [FE] feat: 전체적인 에러처리 코드 추가
  frontend/src/App.tsx
  frontend/src/apis/fetch.ts
  frontend/src/components/@common/Modal/Modal.tsx
  frontend/src/components/Category/Category/Category.tsx
  frontend/src/components/ErrorBoundary/ErrorBoundary.tsx
  frontend/src/components/FileUploadModal/useFileUploadModal.ts
  frontend/src/components/PublishingPropertySection/usePublishingPropertySection.ts
  frontend/src/hooks/useFileUpload.ts
  frontend/src/mocks/handlers/category.ts
  frontend/src/mocks/handlers/writing.ts
  frontend/src/pages/ErrorPage/ErrorPage.tsx
  frontend/src/routes/Router.tsx
  frontend/src/utils/apis/HttpError.ts
  frontend/src/utils/error.ts
Labels: 🛠️ refactor, 🖥️ frontend, 🌟 feature

#306 [BE] fix: query의 `Writing` -> `writing`으로 키워드 변경
  backend/src/main/java/org/donggle/backend/application/repository/WritingRepository.java
Labels: 🐞 bug, 🕋 backend

#302 [BE] feat: MemberPage 조회 API 구현
  backend/src/main/java/org/donggle/backend/application/service/MemberService.java
  backend/src/main/java/org/donggle/backend/application/service/PublishService.java
  backend/src/main/java/org/donggle/backend/application/service/WritingService.java
  backend/src/main/java/org/donggle/backend/domain/member/MemberCredentials.java
  backend/src/main/java/org/donggle/backend/exception/business/MediumNotConnectedException.java
  backend/src/main/java/org/donggle/backend/exception/business/NotionNotConnectedException.java
  backend/src/main/java/org/donggle/backend/exception/business/TistoryNotConnectedException.java
  backend/src/main/java/org/donggle/backend/ui/AuthController.java
  backend/src/main/java/org/donggle/backend/ui/MemberController.java
  backend/src/main/java/org/donggle/backend/ui/config/WebMvcConfig.java
  backend/src/main/java/org/donggle/backend/ui/response/MediumConnectionResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/MemberPageResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/NotionConnectionResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/TistoryConnectionResponse.java
  backend/src/main/java/org/donggle/backend/ui/response/WritingResponse.java
  backend/src/test/java/org/donggle/backend/application/service/MemberServiceTest.java
Labels: 🕋 backend, 🌟 feature

#308 [BE] feat: 사용자의 접근을 제어하는 기능 추가
  backend/src/main/java/org/donggle/backend/application/repository/CategoryRepository.java
  backend/src/main/java/org/donggle/backend/application/service/CategoryService.java
  backend/src/main/java/org/donggle/backend/application/service/PublishService.java
  backend/src/main/java/org/donggle/backend/application/service/WritingService.java
  backend/src/main/java/org/donggle/backend/ui/AuthController.java
  backend/src/main/java/org/donggle/backend/ui/KakaoOAuthController.java
Labels: 🕋 backend, 🌟 feature

#310 [BE] feat: 휴지통의 글 및 글 정보도 찾아오는 기능 추가
  backend/src/main/java/org/donggle/backend/application/service/WritingService.java
  backend/src/test/java/org/donggle/backend/application/service/WritingServiceTest.java
Labels: 🕋 backend, 🌟 feature

#315 [BE] fix: findWriting 버그 수정
  backend/src/main/java/org/donggle/backend/application/service/PublishService.java
Labels: 🐞 bug, 🕋 backend

#317 [FE] feat: 소개 페이지 구현
  frontend/src/assets/icons/blur-background.svg
  frontend/src/assets/icons/donggle-example.png
  frontend/src/assets/icons/donggle-logo.svg
  frontend/src/assets/icons/index.ts
  frontend/src/assets/icons/kakao-login.svg
  frontend/src/assets/index.d.ts
  frontend/src/components/@common/Toast/Toast.tsx
  frontend/src/components/@common/Toast/ToastContainer.tsx
  frontend/src/components/Modal/LoginModal/LoginModal.tsx
  frontend/src/mocks/handlers/writing.ts
  frontend/src/mocks/writingContentMock.ts
  frontend/src/pages/IntroducePage/IntroducePage.tsx
  frontend/src/styles/reset.ts
  frontend/src/styles/theme.ts
  frontend/webpack.common.js
Labels: 🎨 UI, 🖥️ frontend, 🌟 feature

#313 [FE] feat: 마이 페이지 구현
  frontend/src/apis/connections.ts
  frontend/src/apis/login.ts
  frontend/src/apis/member.ts
  frontend/src/assets/icons/default-user-profile.svg
  frontend/src/assets/icons/index.ts
  frontend/src/assets/icons/notion.svg
  frontend/src/components/Category/Category/Category.tsx
  frontend/src/components/Category/Header/Header.tsx
  frontend/src/components/ConnectionSection/ConnectionSection.tsx
  frontend/src/components/Login/KakaoLoginButton.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/WritingViewer/WritingTitle/WritingTitle.tsx
  frontend/src/constants/apis/oauth.ts
  frontend/src/constants/apis/url.ts
  frontend/src/constants/components/myPage.ts
  frontend/src/constants/components/oauth.ts
  frontend/src/constants/path.ts
  frontend/src/hooks/@common/useUncontrolledInput.ts
  frontend/src/hooks/usePageNavigate.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/handlers/connections.ts
  frontend/src/mocks/handlers/login.ts
  frontend/src/mocks/handlers/member.ts
  frontend/src/mocks/memberContentsMock.ts
  frontend/src/pages/ConnectionPage/ConnectionPage.tsx
  frontend/src/pages/MyPage/MyPage.tsx
  frontend/src/pages/OauthPage/OauthPage.tsx
  frontend/src/routes/Router.tsx
  frontend/src/types/apis/connections.ts
  frontend/src/types/apis/login.ts
  frontend/src/types/apis/member.ts
Labels: 🎨 UI, 🖥️ frontend, 🌟 feature

#332 [BE] fix: redirect uri 만드는 부분 사용자 인증 제거
  backend/src/main/java/org/donggle/backend/application/service/connection/notion/NotionConnectionService.java
  backend/src/main/java/org/donggle/backend/application/service/connection/tistory/TistoryConnectionService.java
  backend/src/main/java/org/donggle/backend/ui/ConnectionController.java
  backend/src/main/java/org/donggle/backend/ui/KakaoOAuthController.java
  backend/src/main/java/org/donggle/backend/ui/common/GlobalExceptionHandler.java
  backend/src/main/java/org/donggle/backend/ui/config/WebMvcConfig.java
Labels: 🐞 bug, 🕋 backend

#339 [BE] hotfix: swagger를 보기위한 nginx 설정파일 수정
  conf-dev/nginx.conf
Labels: 🐞 bug, 🕋 backend

#335 [BE] fix: 연결 오류 해결
  backend/src/main/java/org/donggle/backend/application/service/connection/notion/NotionConnectionService.java
  backend/src/main/java/org/donggle/backend/application/service/connection/notion/dto/NotionUserResponse.java
  backend/src/main/java/org/donggle/backend/application/service/connection/tistory/TistoryConnectionService.java
  backend/src/main/java/org/donggle/backend/application/service/connection/tistory/dto/TistoryAccessTokenResponse.java
  backend/src/main/java/org/donggle/backend/application/service/vendor/tistory/TistoryApiService.java
Labels: 🐞 bug, 🕋 backend

#337 [BE] fix: 리스트 랜더링 오류 해결
  backend/src/main/java/org/donggle/backend/application/service/connection/notion/dto/NotionTokenResponse.java
  backend/src/main/java/org/donggle/backend/domain/renderer/html/HtmlRenderer.java
  backend/src/main/java/org/donggle/backend/domain/renderer/html/HtmlStyleRenderer.java
  backend/src/test/java/org/donggle/backend/domain/renderer/html/HtmlRendererTest.java
Labels: 🐞 bug, 🕋 backend

#333 [FE] feat: 글 제목 변경 시 유효성 검사 로직 추가
  frontend/src/components/Category/Category/Category.tsx
  frontend/src/components/Category/Header/Header.tsx
  frontend/src/components/Category/isValidCategoryName.ts
  frontend/src/components/WritingViewer/WritingTitle/WritingTitle.tsx
  frontend/src/utils/validators.ts
Labels: 🖥️ frontend, 🌟 feature

#344 [FE] feat: 휴지통에 있는 글을 볼 때 글 제목변경, 발행 안되게 수정
  frontend/src/App.tsx
  frontend/src/components/FileUploadModal/useFileUploadModal.ts
  frontend/src/components/TrashCan/DeletedWritingList.tsx
  frontend/src/components/TrashCanTable/TrashCanTable.tsx
  frontend/src/components/WritingSideBar/WritingSideBar.stories.tsx
  frontend/src/components/WritingSideBar/WritingSideBar.tsx
  frontend/src/components/WritingViewer/WritingTitle/WritingTitle.tsx
  frontend/src/components/WritingViewer/WritingViewer.tsx
  frontend/src/hooks/usePageNavigate.ts
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/MyPage/MyPage.tsx
  frontend/src/pages/WritingPage/WritingPage.tsx
Labels: 🖥️ frontend, 🌟 feature

#345 [BE] fix: 카테고리 삭제 오류 해결
  backend/src/main/java/org/donggle/backend/application/repository/WritingRepository.java
  backend/src/main/java/org/donggle/backend/application/service/CategoryService.java
Labels: 🐞 bug, 🕋 backend

#346 [FE] feat: `AccessToken`이 존재하지 않을 때 `IntroducePage` 외 접근 불가하도록 수정
  frontend/public/donggle-logo.svg
  frontend/public/index.html
  frontend/src/apis/fetch.ts
  frontend/src/components/@common/Toast/ToastContainer.tsx
  frontend/src/hooks/useAuthToken.ts
  frontend/src/pages/ErrorPage/ErrorPage.tsx
  frontend/src/pages/ErrorPage/useTokenError.ts
  frontend/src/pages/IntroducePage/IntroducePage.tsx
  frontend/src/routes/PrivateRouter.tsx
  frontend/src/routes/Router.tsx
Labels: 🛠️ refactor, 🖥️ frontend, 🌟 feature

#348 [FE] fix: accessToken 로컬 스토리지 저장 시 stringify 하는 로직 제거
  frontend/src/pages/OauthPage/useLoginOauth.ts
Labels: 🐞 bug, 🖥️ frontend

#354 [BE] fix: plain text 검증 로직 추가
  backend/src/main/java/org/donggle/backend/domain/renderer/html/HtmlRenderer.java
  backend/src/main/java/org/donggle/backend/domain/renderer/html/HtmlType.java
  backend/src/test/java/org/donggle/backend/domain/renderer/html/HtmlRendererTest.java
Labels: 🕋 backend, 🌟 feature

#356 [FE] feat:카테고리 선택되지 않았을 때 글 가져오기 시 기본 카테고리로 들어가는 기능 추가
  frontend/src/components/Category/List/useCategories.ts
  frontend/src/components/FileUploadModal/useFileUploadModal.ts
Labels: 🖥️ frontend, 🌟 feature

#362 [FE] fix: 글이 있는 카테고리 삭제 시 왼쪽 사이드바에서 글들이 기본 카테고리로 옮겨진 것을 볼 수 없는 버그 수정
  frontend/src/components/Category/useCategoryMutation.ts
Labels: 🐞 bug, 🖥️ frontend
